<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>footer</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="/css/components/footer.css">
</head>
<body>
<!--채팅방 생성-->
<div>
    <h3>채팅방 생성</h3>
    <input type="text" name="roomName">
    <button type="button" name="createRoom">생성</button>
</div>
<!-- 채팅방 입장 -->
<div>
    <h2>채팅방 입장</h2>
    <form id="usernameForm">
        <p>아이디</p>
        <input type="text" id="name">
        <p>채팅방 UUID</p>
        <input type="text" id="roomId">
        <button type="submit" name="userNameSubmit">전송</button>
    </form>
</div>
<div class="chat-connection-container"></div>
<div id="footer">
    <div class="channel_chat_container">
        <button type="button"></button>
    </div>
    <div id="chat_modal">
        <header class="flex" id="chat_header_container">
            <div class="flex chat_header_logo_container">
                <div class="chat_header_logo">
                    <img width="30" height="30" src="/images/components/dodam-favicon.png" alt="">
                </div>
                <span class="chat_header_name" id="memberId">
                    도담도담 채팅
                </span>
            </div>
            <div class="close_modal_container">
                <button class="close_modal">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" foundation="[object Object]" class="close_modal_svg" defaultopacity="1" hoveredopacity="1" margintop="0" marginright="0" marginbottom="0" marginleft="0" withtheme="true">
                        <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M16.4818 4.69668L15.3033 3.51817L10 8.82147L4.69671 3.51817L3.5182 4.69668L8.8215 9.99998L3.51819 15.3033L4.6967 16.4818L10 11.1785L15.3033 16.4818L16.4818 15.3033L11.1785 9.99998L16.4818 4.69668Z"></path>
                    </svg>
                </button>
            </div>
        </header>
        <p class="introduce_chat">
            도담인들의 원활한 소통을 위한 공간입니다.
        </p>
        <div class="search_chat_container flex">
            <input type="text" class="search_chat_input" placeholder="주고받은 메시지 검색">
        </div>
        <main id="chat_modal_li_container">
            <ol class="chat-list">

            </ol>
        </main>
    </div>
    <div id="chat_room">
        <!--채팅룸 내역 보기(시간역순으로 정렬)-->
        <header class="flex" id="header-chat-container">
            <div class="flex chat_header_logo_container">
                <span class="chat_header_name" >
                    정세인
                </span>
            </div>
            <div class="back_list_container">
                <button class="back_list">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 48 48" width="24">
                        <path d="M0 0h48v48h-48z" fill="none"/>
                        <path d="M40 22h-24.34l11.17-11.17-2.83-2.83-16 16 16 16 2.83-2.83-11.17-11.17h24.34v-4z"/>
                    </svg>
                </button>
            </div>
        </header>
        <!--검색-->
        <div class="search_chat_container">
            <input type="text" class="search_chat_input" placeholder="주고받은 메시지 검색" style="width: 90%;">
        </div>
        <!--채팅 내역 보기(시간 순으로 정렬)-->
        <main id="main-chat-container">
            <li class="chat-message-container">

            </li>
        </main>
        <!--채팅 메세지 보내기(input)/버튼(button)-->
        <form id="messageForm">
            <input type="text" class="input_msg" id="message">
            <button type="submit" class="msg_submit_button" name="messageSubmit">
                <svg class="submit_btn_svg" xmlns="http://www.w3.org/2000/svg" width="24px" xmlns:xlink="http://www.w3.org/1999/xlink" style="enable-background:new 0 0 24 24;" version="1.1" viewBox="0 0 24 24" xml:space="preserve">
                    <g id="info"/>
                    <g id="icons">
                        <path d="M21.5,11.1l-17.9-9C2.7,1.7,1.7,2.5,2.1,3.4l2.5,6.7L16,12L4.6,13.9l-2.5,6.7c-0.3,0.9,0.6,1.7,1.5,1.2l17.9-9   C22.2,12.5,22.2,11.5,21.5,11.1z" id="send"/>
                    </g>
                </svg>
            </button>
        </form>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/components/common.js"></script>
<script src="/js/components/chat.js"></script>
<script src="/js/components/chat-modal.js"></script>
</html>