<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>판매하기-작성</title>
     <!-- css 적용 -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="../../static/css/sell/sell-write.css">
</head>
<body>
    <div class="layout-contents">
        <div class="layout-container">
            <div>
                <h2 class="goodsContainer-title">상품 등록</h2>
                <p class="goodsContainer-description">등록하시는 상품을 소개해 주세요</p>
            </div>
            <form action="">
                <!-- 소개하는 사진 등록하는 섹션 -->
                <section>
                    <div>
                        <h2 class="section-title">소개 사진 등록</h2>
                        <div class="section-description">프로젝트의 맨 위에서 가장 먼저 보여 주고 싶은 영상이나 사진을 등록해 주세요.</div>
                        <div class="content-section">
                            <div class="file-box-wrap">
                                <div class="file-add-boxes">
                                    <div class="div-attach-thumb">
                                        <label>
                                            <div class="btn-attach-thumb">
                                                <i class="ico-plus-xlg">
                                                    <svg
                                                        height="26px"
                                                        viewBox="0 0 512 512"
                                                        width="26px"
                                                    >
                                                        <g>
                                                            <path
                                                                d="M384,265H264v119h-17V265H128v-17h119V128h17v120h120V265z"
                                                            />
                                                        </g>
                                                    </svg>
                                                </i>
                                            </div>
                                            <input
                                                type="file"
                                                name="imgFile"
                                                style="display: none"
                                                accept="image/*"
                                            />
                                        </label>
                                    </div>
                                </div>
                                <div class="file-add-boxes">
                                    <div class="div-attach-thumb">
                                        <label>
                                            <div class="btn-attach-thumb">
                                                <i class="ico-plus-xlg">
                                                    <svg
                                                        height="26px"
                                                        viewBox="0 0 512 512"
                                                        width="26px"
                                                    >
                                                        <g>
                                                            <path
                                                                d="M384,265H264v119h-17V265H128v-17h119V128h17v120h120V265z"
                                                            />
                                                        </g>
                                                    </svg>
                                                </i>
                                            </div>
                                            <input
                                                type="file"
                                                name="imgFile"
                                                style="display: none"
                                                accept="image/*"
                                            />
                                        </label>
                                    </div>
                                </div>
                                <div class="file-add-boxes">
                                    <div class="div-attach-thumb">
                                        <label>
                                            <div class="btn-attach-thumb">
                                                <i class="ico-plus-xlg">
                                                    <svg
                                                        height="26px"
                                                        viewBox="0 0 512 512"
                                                        width="26px"
                                                    >
                                                        <g>
                                                            <path
                                                                d="M384,265H264v119h-17V265H128v-17h119V128h17v120h120V265z"
                                                            />
                                                        </g>
                                                    </svg>
                                                </i>
                                            </div>
                                            <input
                                                type="file"
                                                name="imgFile"
                                                style="display: none"
                                                accept="image/*"
                                            />
                                        </label>
                                    </div>
                                </div>
                                <div class="file-add-boxes">
                                    <div class="div-attach-thumb">
                                        <label>
                                            <div class="btn-attach-thumb">
                                                <i class="ico-plus-xlg">
                                                    <svg
                                                        height="26px"
                                                        viewBox="0 0 512 512"
                                                        width="26px"
                                                    >
                                                        <g>
                                                            <path
                                                                d="M384,265H264v119h-17V265H128v-17h119V128h17v120h120V265z"
                                                            />
                                                        </g>
                                                    </svg>
                                                </i>
                                            </div>
                                            <input
                                                type="file"
                                                name="imgFile"
                                                style="display: none"
                                                accept="image/*"
                                            />
                                        </label>
                                    </div>
                                </div>
                                <div class="file-add-boxes">
                                    <div class="div-attach-thumb">
                                        <label>
                                            <div class="btn-attach-thumb">
                                                <i class="ico-plus-xlg">
                                                    <svg
                                                        height="26px"
                                                        viewBox="0 0 512 512"
                                                        width="26px"
                                                    >
                                                        <g>
                                                            <path
                                                                d="M384,265H264v119h-17V265H128v-17h119V128h17v120h120V265z"
                                                            />
                                                        </g>
                                                    </svg>
                                                </i>
                                            </div>
                                            <input
                                                type="file"
                                                name="imgFile"
                                                style="display: none"
                                                accept="image/*"
                                            />
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <p class="text-guide-md">
                                - 2MB 이하의 JPG, JPEG, GIF, PNG 파일
                                해상도 630x400 픽셀 이상
                                여러 장 등록돼요.
                            </p>
                        </div>
                    </div>
                </section>
                <!-- 제목이 들어갈 섹션 -->
                <section>
                    <div>
                        <h2 class="section-title">상품 판매 제목</h2>
                        <div class="section-description">상품의 제목으로 써지는 글이에요. 상품을 소개해 주세요.</div>
                        <div class="content-section">
                            <input class="input-content" type="text" name="" placeholder="제목을 입력해 주세요.">
                        </div>
                    </div>
                </section>
                <!-- 가격이 들어갈 섹션 -->
                <section>
                    <div>
                        <h2 class="section-title">가격 등록</h2>
                        <div class="section-description">최소 50만 원 ~ 최대 1억 원 사이에서 설정해 주세요.</div>
                        <div class="content-section">
                            <input class="input-content price-margin" type="text" name="" placeholder="가격을 설정해 주세요.">
                            <span class="text-field">원</span>
                        </div>
                    </div>
                </section>
                <!-- 스토리 & 상세소개 관련 섹션 -->
                <section>
                    <h2 class="section-title">상품 스토리</h2>
                    <div class="section-description">스토리를 작성하면 내외부 포털 검색 결과에 상위 노출될 확률이 높아져요.</div>
                    <textarea name="" class="content-textarea" placeholder="내용을 입력해주세요."></textarea>
                </section>
                <!-- 버튼 -->
                <div class="button-wrapper">
                    <button type="button" class="button-button">
                        <span class="button-text">저장하기</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
</html>