<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>판매하기-작성</title>
     <!-- css 적용 -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="../../static/css/sell/sell-write.css">
     <link rel="shortcut icon" href="/static/images/components/dodam-favicon.png">
</head>
<body>

   <!-- Modal -->
<div id="modal" class="modal" style="display: none;">
    <div class="modal-content">
      <p>최대 이미지는 5개까지 등록 가능합니다.</p>
      <button id="confirmBtn" style=" background-color: #006633;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 0.5em 1em;
      cursor: pointer;
      margin: 9px 0 0 0px;">확인</button>
    </div>
  </div>
  
    <div class="layout-contents">
        <div class="layout-container" style="margin: 0 auto 40px;
        max-width: 1440px;
        padding-left: 29em;">
            <div>
                <h2 class="goodsContainer-title">상품 등록</h2>
                <p class="goodsContainer-description">등록하시는 상품을 소개해 주세요</p>
            </div>
            <form th:action="${/boards/purchase/write}" th:method="post">
                <!-- 소개하는 사진 등록하는 섹션 -->
                <section>
                    <div>
                      <h2 class="section-title"> 대표 이미지</h2>
                      <div class="section-description">최대 5개의 이미지를 등록할 수 있습니다.</div>
                      <div class="content-section">
                        <div class="file-box-wrap" id="fileBoxWrap">
                          <div class="file-add-boxes">
                            <div class="div-attach-thumb">
                              <div class="btn-attach-thumb">+</div>
                              <input type="file" id="imgFile" name="imgFile" style="display: none" accept="image/*" multiple />
                            </div>
                          </div>
                        </div>
                        <p class="text-guide-md">
                            (첫번째 이미지는 상품의 메인이미지 입니다.)
                        </p>
                      </div>
                    </div>
                  </section>
                <!-- 제목이 들어갈 섹션 -->
                <section>
                    <div>
                        <h2 class="section-title">상품 판매 게시글 제목</h2>
                        <div class="section-description">상품의 제목으로 써지는 글이에요. 상품을 소개해 주세요.</div>
                        <div class="content-section">
                            <input class="input-title" type="text" name="boardTitle" placeholder="제목을 입력해 주세요.">
                        </div>
                    </div>
                </section>
                <!-- 개수가 들어갈 섹션 -->
                <section>
                    <div>
                        <h2 class="section-title">상품명</h2>
                        <div class="section-description">회원님이 판매하시는 상품명을 적어주세요.</div>
                        <div class="content-section">
                            <input class="input-count" type="text" name="PuchaseBoardDTO.productDTO.productName" placeholder="판매하시는 상품의 이름을 적어주세요.">
                        </div>
                    </div>
                </section>
                <section>
                    <div>
                        <h2 class="section-title">상품 개수</h2>
                        <div class="section-description">회원님이 원하시는 판매수량을 적어주세요.</div>
                        <div class="content-section">
                            <input class="input-count" type="text" name="productDTO.productCount" placeholder="판매하시는 상품의 개수를 적어주세요.">
                            <span class="text-field">개</span>
                        </div>
                    </div>
                </section>
                <!-- 가격이 들어갈 섹션 -->
                <section>
                    <div>
                        <h2 class="section-title">가격 등록</h2>
                        <div class="section-description">상품 하나당 가격을 설정해 주세요.</div>
                        <div class="content-section">
                            <input class="input-content price-margin" type="text" name="productDTO.productPrice" placeholder="가격을 설정해 주세요.">
                            <span class="text-field">원</span>
                        </div>
                    </div>
                </section>
                <!-- 스토리 & 상세소개 관련 섹션 -->
                <section>
                    <h2 class="section-title">상품 스토리</h2>
                    <div class="section-description">스토리를 작성하면 내외부 포털 검색 결과에 상위 노출될 확률이 높아져요.</div>
                    <textarea name="boardContent" class="content-textarea" placeholder="내용을 입력해주세요."></textarea>
                </section>
                <!-- 버튼 -->
                <div class="button-wrapper">
                    <button type="button" class="button-button">
                        <span class="button-text">저장하기</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="../../static/js/sell-board/sell-wright.js"></script>
</html>