<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>이벤트 게시글 상세페이지</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gothic+A1:wght@700;800&display=swap" rel="stylesheet">
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square-round.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/admin/admin.css">
    <link rel="stylesheet" href="/css/admin/home.css">
    <link rel="stylesheet" href="/css/admin/board-detail.css">
</head>
<body>
    <!-- 모달 -->
    <!-- 삭제 모달창 -->
    <div id="delete-modal" class="delete-modal">
        <div class="modal-content">
        <p>정말로 삭제하시겠습니까?</p>
        <div class="modal-buttons">
            <button id="cancel-btn">취소</button>
            <button id="confirm-btn">확인</button>
        </div>
        </div>
    </div>
    <!-- 모달 -->
    <!-- 이미지 모달 -->
    <div id="image-modal" class="image-modal">
        <div class="modal-content2">
            <img id="modal-image" src="" alt="">
            <button id="close-btn">&times;</button>
        </div>
    </div>
  <!-- 이미지 모달 -->
    <!-- 헤더 -->
    <header>
        <div class="logo-wrapper">
            <div class="logo">도담 도담</div>
        </div>
        <div class="time-wrapper">
            <div class="time-left">현재 시간 : </div>
            <!-- 현재 시간 js로 들어감 -->
            <div class="time"></div>
        </div>
    </header>
    <main>
        <!-- 사이드 바 메뉴 -->
        <nav>
            <div class="menu-bar">
                <ul>
                    <li class="menu">
                        <a class="menus" href="/admins/home">홈</a>
                    </li>
                    <li class="menu">
                        <a class="menus" href="/admins/member/list">회원 목록</a>
                    </li>
                    <li class="menu">
                        <a class="menus" href="/admins/event-board/list">이벤트 게시글</a>
                    </li>
                    <li class="menu">
                        <a class="menus" href="/admins/recruitment-board/list">모집 게시글</a>
                    </li>
                    <li class="menu">
                        <a class="menus" href="/admins/purchase-board/list">판매 게시글</a>
                    </li>
                    <li class="menu">
                        <a class="menus" href="/admins/free-board/list">자유 게시글</a>
                    </li>
                    <li class="menu">
                        <a class="menus" href="/admins/inquiry/list">문의사항 관리</a>
                    </li>
                    <li class="menu">
                        <a class="menus" href="/admins/point/list">포인트 내역</a>
                    </li>
                    <li class="menu">
                        <a class="menus" href="/admins/banner/list">배너신청 현황</a>
                    </li>
                    <!--<li class="menu">
                        <a class="menus" href="#">배너관리</a>
                    </li>-->
                </ul>
            </div>
        </nav>
        <!-- 사이드 바 메뉴 -->
        <!-- contents -->
        <content>
            <div class="inner-wrapper">
                <div class="page-title">이벤트 게시글</div>
                <button type="submit" class="delete-button" id="delete-button">삭제하기</button> 
                <div class="inner-box-wrapper">
                    <div class="inner-left-wrapper">
                        <div class="inner-right-title">첨부된 이미지</div>
                        <!-- 이미지 첨부 슬라이드 배너 -->
                        <div class="image-wrapper">
                            <!-- 페이지 표시 -->
                            <div class="page-wrapper">
                                <span class="now-page">1</span>
                                <span> / </span>
                                <span class="total-page">3</span>
                            </div>
                            <!-- 페이지 표시 -->
                            <div class="slider">
                                <div class="slider__container">
                                </div>
                                <button class="slider__arrow slider__arrow--left">&lt;</button>
                                <button class="slider__arrow slider__arrow--right">&gt;</button>
                            </div>
                        </div>
                        <!-- 이미지 첨부 슬라이드 배너 -->
                    </div>
                    <div class="inner-right-wrapper">
                        <div class="inner-right-title">게시글 정보</div>
                        <div class="right-info-wrapper">
                            <div class="classification-wrapper">
                                <div class="classification">이벤트명</div>
                                <div class="event-title info"><span th:text="${eventBoardDTO.boardTitle}"></div>
                            </div>

                            <div class="classification-wrapper">
                                <div class="classification">개최자</div>
                                <div class="writer info"><span th:text="${eventBoardDTO.memberDTO.memberName}"></div>
                            </div>
                            <div class="classification-wrapper">
                                <div class="classification">이벤트 장소</div>
                                <div class="date info"><span th:text="${eventBoardDTO.eventAddress}"></div>
                            </div>
                            <div class="classification-wrapper">
                                <div class="classification">진행 상태</div>
                                <div class="recruit-numbers info"><span th:text="${eventBoardDTO.eventStatus}"></div>
                            </div>
                            <div class="classification-wrapper">
                                <div class="classification">이벤트 소개</div>
                                <div class="contents">
                                    <div class="contents-inner">
                                        <span th:text="${eventBoardDTO.eventIntroduction}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </content>
        <!-- contents -->
    </main>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/admin/admin.js"></script>
<script src="/js/admin/board-detail-sub.js"></script>
<script th:inline="javascript">
    const eventBoardDTO = [[${eventBoardDTO}]];
    console.log("파일 들어옴");
    console.log(eventBoardDTO);
    let fileDTOS = eventBoardDTO.eventFiles;
    fileDTOS.forEach((fileDTO, i) => {
        console.log("파일 들어옴");
        console.log(fileDTO);
        let text = `
        <div class="slider__item">
            <img src="/file/display?fileName=${fileDTO.filePath}/${fileDTO.fileUuid}_${fileDTO.fileOriginalName}">
        </div>
   `;
        $(".slider__container").append(text);
    });

    const slider = document.querySelector('.slider');
    const container = slider.querySelector('.slider__container');
    // const items = slider.querySelectorAll('.slider__item');
    const items = document.querySelectorAll('.slider__container > .slider__item');

    // 왼쪽/오른쪽 화살표 요소를 선택합니다.
    const leftArrow = slider.querySelector('.slider__arrow--left');
    const rightArrow = slider.querySelector('.slider__arrow--right');

    // 현재 이미지의 인덱스를 저장합니다.
    let currentIndex = 0;

    // 화살표 클릭 이벤트가 발생했을 때 실행될 함수입니다.
    function handleArrowClick(e) {
        if (e.target === leftArrow && currentIndex > 0) {
            // 왼쪽 화살표를 클릭하여 이전 이미지로 이동합니다.
            currentIndex--;
        } else if (e.target === rightArrow && currentIndex < items.length - 1) {
            // 오른쪽 화살표를 클릭하여 다음 이미지로 이동합니다.
            currentIndex++;
        }
        moveSlider();
    }

    // 슬라이더를 이동시키는 함수입니다.
    function moveSlider() {
        // 현재 보이는 이미지의 너비를 계산합니다.
        const itemWidth = items[currentIndex].offsetWidth;
//   console.log("currentIndex : " + currentIndex);
//   currentIndex가 현재 이미지의 인덱스인데 0부터 시작해서
//   1을 더해줘서 현재 몇번 째 이미지인지 표시
        $('.now-page').text(currentIndex + 1);

        // 슬라이더를 이동시킵니다.
        container.style.transform = `translateX(-${currentIndex * itemWidth}px)`;
    }

    // 화살표 요소에 클릭 이벤트를 등록합니다.
    leftArrow.addEventListener('click', handleArrowClick);
    rightArrow.addEventListener('click', handleArrowClick);

    /* 이미지 개수 표시 */
    $(document).ready(function(){
        $('.total-page').text($('.slider__item').length);
    });
    /* 이미지 배너 */

    // 화살표 클릭 이벤트가 발생했을 때 실행될 함수입니다.
    function handleArrowClick(e) {
        if (e.target === leftArrow && currentIndex > 0) {
            // 왼쪽 화살표를 클릭하여 이전 이미지로 이동합니다.
            currentIndex--;
        } else if (e.target === rightArrow && currentIndex < items.length - 1) {
            // 오른쪽 화살표를 클릭하여 다음 이미지로 이동합니다.
            currentIndex++;
        }
        moveSlider();
    }


    // 화살표 요소에 클릭 이벤트를 등록합니다.
    leftArrow.addEventListener('click', handleArrowClick);
    rightArrow.addEventListener('click', handleArrowClick);

    /* 이미지 개수 표시 */
    $(document).ready(function(){
        $('.total-page').text($('.slider__item').length);
    });

    /* 이미지 클릭시 모달창  */
    $(function() {
        $('.slider__item img').click(function() {
            var imgSrc = $(this).attr('src');
            $('#modal-image').attr('src', imgSrc);
            $('#image-modal').css('display', 'flex');
        });

        $('#close-btn').click(function() {
            $('#image-modal').hide();
        });
    });

    /* 이미지 클릭시 모달창  */

    /* 이미지 클릭시 모달창  */
    $(function() {
        $('.slider__item img').click(function() {
            var imgSrc = $(this).attr('src');
            $('#modal-image').attr('src', imgSrc);
            $('#image-modal').css('display', 'flex');
        });

        $('#close-btn').click(function() {
            $('#image-modal').hide();
        });
    });

    /* 이미지 클릭시 모달창  */

</script>
</html>