<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>문의관리 상세페이지</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gothic+A1:wght@700;800&display=swap" rel="stylesheet">
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square-round.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/admin/admin.css">
    <link rel="stylesheet" href="/css/admin/home.css">
    <link rel="stylesheet" href="/css/admin/managament-board-detail.css">
    <link rel="shortcut icon" href="/images/components/dodam-favicon.png">
</head>
<body>
    <!-- 모달 -->
    <!-- 삭제 모달창 -->
    <div id="delete-modal" class="delete-modal">
        <div class="modal-content">
        <p>정말로 삭제하시겠습니까?</p>
        <div class="modal-buttons">
            <button id="cancel-btn">취소</button>
            <button id="confirm-btn">확인</button>
        </div>
        </div>
    </div>
    <!-- 모달 -->
    <!-- 모달 -->
    <!-- 전송 확인 모달창 -->
    <div id="send-modal" class="delete-modal">
        <div class="modal-content">
        <p>답변 전송이 완료되었습니다.</p>
        <div class="modal-buttons">
<!--            <button id="cancel-btn2">취소</button>-->
            <button id="confirm-btn2">확인</button>
        </div>
        </div>
    </div>
    <!-- 모달 -->
    <!-- 헤더 -->
    <header>
        <div class="logo-wrapper">
            <div class="logo">도담 도담</div>
        </div>
        <div class="time-wrapper">
            <div class="time-left">현재 시간 : </div>
            <!-- 현재 시간 js로 들어감 -->
            <div class="time"></div>
        </div>
    </header>
    <main>
        <!-- 사이드 바 메뉴 -->
        <nav>
            <div class="menu-bar">
                <ul>
                  <!--  <li class="menu">
                        <a class="menus" href="/admins/home">홈</a>
                    </li>-->
                    <li class="menu">
                        <a class="menus" href="/admins/member/list">회원 목록</a>
                    </li>
                    <li class="menu">
                        <a class="menus" href="/admins/event-board/list">이벤트 게시글</a>
                    </li>
                    <li class="menu">
                        <a class="menus" href="/admins/recruitment-board/list">모집 게시글</a>
                    </li>
                    <li class="menu">
                        <a class="menus" href="/admins/purchase-board/list">판매 게시글</a>
                    </li>
                    <li class="menu">
                        <a class="menus" href="/admins/free-board/list">자유 게시글</a>
                    </li>
                    <li class="menu">
                        <a class="menus" href="/admins/inquiry/list">문의사항 관리</a>
                    </li>
                    <li class="menu">
                        <a class="menus" href="/admins/point/list">포인트 내역</a>
                    </li>
<!--                    <li class="menu">-->
<!--                        <a class="menus" href="/admins/banner/list">배너신청 현황</a>-->
<!--                    </li>-->
                    <!--<li class="menu">
                        <a class="menus" href="#">배너관리</a>
                    </li>-->
                </ul>
            </div>
        </nav>
        <!-- 사이드 바 메뉴 -->
        <!-- contents -->
        <content>
            <div class="inner-wrapper">
                <div class="page-title">문의 관리</div>
<!--                <button type="button" class="delete-button" id="delete-button">삭제하기</button>-->
                <div class="inner-box-wrapper">
                    <div class="inner-left-wrapper">
                        <div class="inner-right-title">문의사항</div>
                        <div class="right-info-wrapper">
                            <div class="classification-wrapper">
                                <div class="classification">문의 유형</div>
                                <div class="writer info"><span th:text="${inquiryDTO.inquiryType}"></div>
                            </div>
                            <div class="classification-wrapper">
                                <div class="classification">이메일</div>
                                <div class="writer info"><span th:text="${inquiryDTO.inquiryEmail}"></div>
                            </div>
                            <div class="classification-wrapper">
                                <div class="classification">휴대폰 번호</div>
                                <div class="writer info"><span th:text="${inquiryDTO.inquiryPhoneNumber}"></div>
                            </div>
                            <div class="classification-wrapper">
                                <div class="classification">답변 상태</div>
                                <div class="writer info"><span th:text="${inquiryDTO.inquiryStatus}"></div>
                            </div>
                            <div class="classification-wrapper">
                                <div class="classification">문의 내용</div>
                                <div class="contents">
                                    <div class="contents-inner">
                                        <span th:text="${inquiryDTO.inquiryContent}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="inner-right-wrapper">
                        <div class="inner-right-title">답변</div>
                        <div class="right-info-wrapper answer-wrapper">
                            <div class="classification-wrapper">
<!--                                    <form id="inquiryForm" action="/admins/inquiry/detail" method="post" style="width: 100%; height: fit-content;">-->
<!--                                        <form method="post" action="/admins/inquiry/detail/{inquiryId}" name="inquiryForm" >-->
                                    <input type="hidden" name="inquiryId" id="inquiryId" th:value="${inquiryDTO.id}" /> <!-- inquiryId 값을 숨은 필드로 추가 -->
                                    <input type="hidden" name="inquiryEmail" id="inquiryEmail" th:value="${inquiryDTO.inquiryEmail}" /> <!-- inquiryId 값을 숨은 필드로 추가 -->
                                    <div class="answer-header">
                                        <div class="classification">문의 답변</div>
                                        <div class="button-wrapper">
                                            <button type="button" class="answer-button">
                                                <img class="airplane" src="/images/admin/paper-plane.png">
                                                <!-- <div class="button-inner-text">답변완료</div> -->
                                            </button>
                                        </div>
                                    </div>
                                    <div class="answer-box">
                                        <textarea name="inquiryAnswer" id="answer"></textarea>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </content>
        <!-- contents -->
    </main>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/admin/admin.js"></script>
<script>
    // $(document).ready(function() {
    //     // 삭제 버튼 클릭 시
    //     $('.answer-button').click(function() {
    //         var inquiryId = $('#inquiryId').val(); // 폼으로부터 inquiryId를 받아옴
    //         console.log(inquiryId);
    //         // inquiryId가 없는 경우 경고창을 표시하고 함수를 종료
    //         if (!inquiryId) {
    //             alert('문의 ID를 받아올 수 없습니다.');
    //             return;
    //         }
    //
    //         $('#send-modal').show(); // 삭제 모달창 열기
    //
    //         $('#confirm-btn2').click(function() { // 모달창의 확인 버튼 눌렀을 경우 데이터 전송
    //             var data = {
    //                 inquiryId: inquiryId
    //             };
    //
    //             $.ajax({
    //                 url: '/admins/inquiry/detail',
    //                 type: 'PATCH',
    //                 contentType: 'application/json',
    //                 data: JSON.stringify(data),
    //                 success: function (response) {
    //                     location.reload(); // 수정 완료 후 페이지 새로고침
    //                 },
    //                 error: function (xhr, status, error) {
    //                     alert('오류가 발생했습니다. 다시 시도해주세요.');
    //                     console.log(error);
    //                 }
    //             });
    //         });
    //     });
    // });


</script>
<!--<script src="/js/admin/management-board-detail.js"></script>-->
<script>
    $('.answer-button').on('mouseover', function(){
        $('.airplane').attr('src', '/images/admin/changed-plane.png')
        $('.answer-button').css('border-color', '#006633b3');
    })

    $('.answer-button').on('mouseout', function(){
        $('.airplane').attr('src', '/images/admin/paper-plane.png')
        $('.answer-button').css('border-color', '#00000029');
    })

    $('.answer-button').on('click', function(){
        $('#send-modal').css('display', 'flex');
    });

    $('#cancel-btn2').on('click', function(){
        $('#send-modal').hide();
    });

    // $('#confirm-btn2').click(function() {
    //     console.log("들어옴");
    //     $('#send-modal').css('display', 'none');
    //     // var inquiryId = $('#inquiry-Id').val();
    //     // var answer = $('#inquiryAnswer').val(); // 답변 내용
    //     // $('#inquiryForm').attr('action', '/admins/inquiry/detail/' + inquiryId);
    //     var inquiryId = $('#inquiry-Id').val();
    //     $('#inquiryForm').attr('action', '/admins/inquiry/detail/' + inquiryId);
    //     // document.inquiryForm.submit();
    //     // $('#inquiryForm').submit();
    //     console.log("제출됨");
    // });


    $('#confirm-btn2').click(function() {
        console.log("들어옴");
        $('#send-modal').css('display', 'none');
        var inquiryId = $('#inquiryId').val(); // inquiryId 값을 가져옴
        var answer = $('#answer').val(); // 답변 내용
        var inquiryEmail = $('#inquiryEmail').val(); // 답변 내용
        $.ajax({
            url: `/admins/inquiry/detail/${inquiryId}`, // 수정 요청을 보낼 URL
            type: 'POST',
            data: {
                inquiryId: inquiryId, // 수정 요청에 inquiryId를 포함하여 보냄
                inquiryAnswer: answer, // 수정 요청에 답변 내용을 포함하여 보냄
                inquiryEmail: inquiryEmail // 수정 요청에 답변 내용을 포함하여 보냄
            },
            success: function(response) {
                console.log("제출됨");
                console.log(response);
                window.location.href = "/admin/inquiry/detail?update=ok"; // 수정이 완료되면 페이지를 다시 로드
            },
            error: function(xhr) {
                console.log(xhr.responseText);
            }
        });
    });

    $('#inquiryForm').on('submit', function(event) {
        var form = event.target;
        var inquiryId = $('#inquiryId').val();
        form.action = form.action.replace("{inquiryId}", id);
    });
</script>
</html>