<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/components/header.css">
    <link rel="stylesheet" href="/css/components/footer.css">
    <link rel="stylesheet" href="/css/parents-yard-board/parents-yard-board.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gugi&display=swap">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" href="/images/logo_favi/favi/favicon.ico">
    <title>부모님마당</title>
</head>
<body>
<div th:insert="~{/components/header:: header}"></div>
<div class="parents-yard-board-wrapper">
    <div class="parents-yard-board-top">
        <div class="parents-yard-board-title">부모님마당</div>
        <form>
            <div class="parents-yard-board-drop-down">
                <label class="status-filter">
                    <select id="filter-select" class="filter-select-box">
                        <option value="ALL" data-categoryType="all">전체</option>
                        <option value="TALK" data-categoryType="talk">수다</option>
                        <option value="AGRICULTURE" data-categoryType="recent">농촌</option>
                        <option value="ART" data-categoryType="art">예술</option>
                        <option value="TRADITION" data-categoryType="tradition">전통</option>
                        <option value="CRAFT" data-categoryType="craft">공방</option>
                        <option value="SCIENCE" data-categoryType="science">과학</option>
                        <option value="MUSEUM" data-categoryType="musuem">박물관</option>
                        <option value="SPORTS" data-categoryType="sports">스포츠</option>
                        <option value="ETC" data-categoryType="etc">기타</option>
                    </select>
                    <div class="drop-down-image-wrapper">
                        <img class="drop-down-image" src="/images/parents-yard-board/parents-yard-board/drop-down.png">
                    </div>
                </label>
            </div>
        </form>
    </div>
    <div class = "parentsList">

    </div>



    <div class="write-text-wrapper">
        <a class="go-to-write-link" href="">
            <span class="write-text">글쓰기</span>
        </a>
    </div>

    <div class="paging-container">
        <ul class="paging-list" aria-label="pagination">

        </ul>
    </div>

    <form name="search-form">
        <div class="search-form-wrapper">
            <div class="filter-container">
                <select class="filter-for-serach">
                    <option value="titleContents">제목+내용</option>
                    <option value="title">제목</option>
                </select>
                <i class="icon expand-more SearchForm_contentListSelectBoxAngle__dKSp3"></i>
            </div>
            <div class="search-input-wrapper">
                <input class="search-input" type="text" placeholder="검색어 입력" value="">
                <button type="button" class="go-search-btn">
                    <svg viewBox="0 0 40 40" focusable="false" role="presentation" class="withIcon_icon__vNcXZ"
                         aria-hidden="true" style="width: 24px; height: 24px;">
                        <path fill="none" d="M0 0h40v40H0z"></path>
                        <path d="M29.2 27.91a14.38 14.38 0 1 0-1.42 1.4l7.16 7.15.07.08 1.41-1.41zM18.45 6a12.36 12.36 0 0 1 8.35 3.23 12.24 12.24 0 0 1 4 8.59A12.39 12.39 0 1 1 17.88 6z"></path>
                    </svg>
                </button>
            </div>
        </div>
    </form>
</div>
<div th:insert="~{/components/footer:: footer}"></div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/common/formatDate.js"></script>
<script src="/js/parents-yard-board/parents-yard-board.js"></script>
<script src="/js/components/header.js"></script>
</html>