<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>modal</title>
     <!--css 연결하는곳-->
     <link rel="preconnect" href="https://fonts.googleapis.com" />
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
     <link
       href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
       rel="stylesheet"
     />
     <link rel="stylesheet" href="../../static/css/myPage/myPage-rankModal.css" />
</head>
<body>
    <section class="modal">
		<div class="modal-shape">
			<div class="modal-header">
				<h3>내 등급</h3>
				<a class="modal-close">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						data-name="Capa 1"
						id="Capa_1"
						viewBox="0 0 20 19.84"
                        onclick="closeModal()"
					>
						<path d="M10.17,10l3.89-3.89a.37.37,0,1,0-.53-.53L9.64,9.43,5.75,5.54a.37.37,0,1,0-.53.53L9.11,10,5.22,13.85a.37.37,0,0,0,0,.53.34.34,0,0,0,.26.11.36.36,0,0,0,.27-.11l3.89-3.89,3.89,3.89a.34.34,0,0,0,.26.11.35.35,0,0,0,.27-.11.37.37,0,0,0,0-.53Z"/>
					</svg >
				</a>
			</div>
            <div class="content-container">
                <h4 class="detail-title">등급 정보</h4>
                <!-- 뱃지 정보들이 담길 테이블 -->
                <div class="content-wrap">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>항목</th>
                                <th>등급</th>
                                <th>참여도</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <!-- 배지 이미지 들어가는 곳 -->
                                <th><img src="../../static/images/myPage/seed.png" style="width: 15px;" alt=""></th>
                                <th>씨앗</th>
                                <th>참여,모집횟수 1~5회</th>
                            </tr>
                            <tr>
                                <th><img src="../../static/images/myPage/seedling.png" style="width: 15px;" alt=""></th>
                                <th>새싹</th>
                                <th>참여,모집횟수 6~10회</th>
                            </tr>
                            <tr>
                                <th><img src="../../static/images/myPage/plant.png" style="width: 15px;" alt=""></th>
                                <th>묘목</th>
                                <th>참여,모집횟수 11~15회</th>
                            </tr>
                            <tr>
                                <th><img src="../../static/images/myPage/tree.png" style="width: 15px;" alt=""></th>
                                <th>나무</th>
                                <th>참여,모집횟수 16~20회</th>
                            </tr>
                            <tr>
                                <th><img src="../../static/images/myPage/dodam.png" style="width: 15px;" alt=""></th>
                                <th>도담</th>
                                <th>참여,모집횟수 21회 이상</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- 사용자의 배지 정보가 나오는 곳 -->
            <div class="content-container">
                <h4 class="detail-title">나의 등급</h4>
                <div class="content-wrap">
                    <div class="user-info">
                        <div>
                            <span>당신의 배지는 현재 "새싹" 등급 입니다.</span>
                            <br>
                            <span style="position: relative;
                            top: 7px;">다음 등급까지 3회 남았습니다.</span>
                        </div>
                        <br>
                        <table class="table" style="position: relative;
                        ">
                            <thead>
                                <tr>
                                    <th>항목</th>
                                    <th>등급</th>
                                    <th>할인율</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <!-- 배지 이미지 들어가는 곳 -->
                                    <th><img src="../../static/images/myPage/seed.png" style="width: 15px;" alt=""></th>
                                    <th>씨앗</th>
                                    <th>-</th>
                                </tr>
                                <tr>
                                    <th><img src="../../static/images/myPage/seedling.png" style="width: 15px;" alt=""></th>
                                    <th>새싹</th>
                                    <th>-</th>
                                </tr>
                                <tr>
                                    <th><img src="../../static/images/myPage/plant.png" style="width: 15px;" alt=""></th>
                                    <th>묘목</th>
                                    <th>배너 등록시 10%</th>
                                </tr>
                                <tr>
                                    <th><img src="../../static/images/myPage/tree.png" style="width: 15px;" alt=""></th>
                                    <th>나무</th>
                                    <th>배너 등록시 20%</th>
                                </tr>
                                <tr>
                                    <th><img src="../../static/images/myPage/dodam.png" style="width: 15px;" alt=""></th>
                                    <th>도담</th>
                                    <th>배너 이용시 30%</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

		</div>
	</section>
</body>
</html>