<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>도담도담 - 마이도담</title>
    <!--css 연결하는곳-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../static/css/myPage/myPage-main.css" />
<!--    <link rel="stylesheet" href="/css/myPage/myPage-main.css" />-->
<link rel="shortcut icon" href="/static/images/components/dodam-favicon.png">
<link rel="stylesheet" href="../../static/css/myPage/myPage-rankModal.css" />
  </head>
  <body>
<!-- 모달창 -->
<!-- 모달 끝 -->

    <div class="MainWrapper_content__GZkTa">
      <div class="MyWadizPage_myWadizPage__wOTdS">
        <div class="MyWadizPage_profileBackground__T_LTr" aria-hidden="true"></div>
        <h2 class="BlindText_textHidden__ovQb4">마이와디즈</h2>
        <div class="MyWadizPage_inner__1oq9M">
          <div class="MyWadizPage_popperBox__113hj">
            <div class="MyWadizHeader_wadizHeader__8fJ9f">
            </div>
          </div>
          <!-- 여기까지 작업 했음 -->
          <div class="MyWadizPage_contentsWrapper__1dzMJ">
            <div
              class="MyWadizSupporter_supporterMode__2XDQZ"
              role="tabpanel"
              id="myWadizPanel_supporter"
              aria-labelledby="myWadizTab_supporter"
            >
              <div class="MyWadizSupporterProfile_profileContainer__1q7eh">
                <div style="position: relative; top: -40px; left: -12px;" id="rankModalButton">
                   현재 등급 <img id="myImg" src="../../static/images/myPage/bigseed.png" alt="Bigseed" style="position: absolute; right: 3.5em; top: 3em; cursor: pointer;">
                  <button >
                  </button>
                </div>
                
                <div class="MyWadizSupporterProfile_setting__n8-M7" style="position: relative;
                top: 50px;">
                <div class="MyWadizSupporterProfile_profileUser__a_r1P">
                  <button data-event="profile">
                    <b class="MyWadizSupporterProfile_userName__3hSE4"
                      >린먕<span aria-label="프로필 상세 보기">님</span>
                      <img src="/static/images/myPage/arrowRight.png" class="arrowImg">
                    </b>
                </button>
                </div>
                  <button
                    class="Button_button__1HNjI Button_md__2Tyci Button_circular__3BLWf Button_block__3-IpL"
                    type="button"
                  >
                    <span><span class="Button_children__lqBGI">로그아웃</span></span>
                  </button>
                </div>
              </div>
              <div class="MyWadizSupporter_contents__1TmJ_">
                <div class="MyWadizSection_section__3FCv1">
                  <div class="MyWadizSupporterProject_container__2uWcZ">
                    <div class="MyWadizSupporterProject_title__1IOfu">
                      <div class="MyWadizSupporterProject_accumulate__1nyx5">
                        <div class="MyWadizSupporterProject_value__7aQ4B">
                          <a
                            class="MyWadizSupporterAccumulate_container__h_OVK"
                            href="/web/wmypage/mybenefit/pointlist"
                          >
                            <dl class="MyWadizSupporterAccumulate_info__2_7Is">
                              <dt class="MyWadizSupporterAccumulate_title__3CiIs">
                                <span class="MyWadizSupporterAccumulate_name__1mWXC">포인트</span>
                              </dt>
                              <dd class="MyWadizSupporterAccumulate_value__1oBSj">0 P</dd>
                            </dl>
                          </a>
                          <hr
                            class="Divider_divider__ToZaf Divider_horizontal__3W5eD Divider_lightBG__3bAAk Divider_spacing5__C3W8V Divider_caption2__3b6Dr MyWadizSupporterProject_accumulateDivider__1qDCv"
                          />
                          <a
                            class="MyWadizSupporterAccumulate_container__h_OVK"
                            href="/web/coupon-zone"
                          >
                            <dl class="MyWadizSupporterAccumulate_info__2_7Is">
                              <dt class="MyWadizSupporterAccumulate_title__3CiIs">
                                <span class="MyWadizSupporterAccumulate_name__1mWXC">결제 내역</span>
                              </dt>
                              <dd class="MyWadizSupporterAccumulate_value__1oBSj">6건</dd>
                            </dl>
                          </a>
                        </div>
                      </div>
                      <div class="MyWadizSupporterProjectInfo_container__3MC9F">
                        <div class="MyWadizSupporterProjectInfo_project__3Vaun">
                          <div class="MyWadizSupporterProjectInfo_projectLink__2K77b">
                            <strong class="BlindText_textHidden__ovQb4">결제 건수</strong
                            ><a href="/web/mywadiz/participation"
                              ><span>펀딩·프리오더</span><b>0</b></a
                            >
                            <hr
                              class="Divider_divider__ToZaf Divider_vertical__fJJKf Divider_lightBG__3bAAk Divider_spacing5__C3W8V Divider_caption2__3b6Dr MyWadizSupporterProjectInfo_divider__2mXtA"
                            />
                            <a href="/web/mywadiz/store/order"><span>스토어</span><b>0</b></a>
                          </div>
                          <div class="MyWadizSupporterProjectInfo_payment__3SozX">
                            <a href="/web/mywadiz/payment-info">
                              <div class="MyWadizSupporterProjectInfo_content__2wrXr">
                                <div class="MyWadizSupporterProjectInfo_titleInfo__2yN9F">
                                  <i
                                    class="MyWadizSupporterProjectInfo_icon__SSJbz"
                                    aria-hidden="true"
                                  ></i
                                  ><strong class="MyWadizSupporterProjectInfo_title__16fdL"
                                    >결제정보 관리</strong
                                  >
                                  <p class="MyWadizSupporterProjectInfo_description___KORc">
                                    간편하게 카드 등록하고, 빠르게 결제 예약하세요!
                                  </p>
                                </div>
                                <div class="MyWadizSupporterProjectInfo_link__31iYu">
                                  <span>카드 등록</span>
                                </div>
                              </div>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="MyWadizSection_section__3FCv1">
                  <h4 class="MyWadizSection_title__2pnV3">나의 활동</h4>
                  <div>
                    <ul>
                      <li class="MyWadizMenu_menu__3b-H-">
                        <a href="/web/social/followingmaker"
                          ><span
                          class="MyWadizMenu_icon__1sqne" aria-hidden="true"><img class="follower-icon" src="/static/images/myPage/follower.png" >
                        </span><span class="MyWadizMenu_text__9ryGW">내가 쓴 글</span
                          ><span class="arrowImg2" ><img src="/static/images/myPage/moreThan.png" style="width: 22px;"></span
                        ></a>
                      </li>
                      <li class="MyWadizMenu_menu__3b-H-">
                        <a href="/web/wish/main"
                          ><span class="MyWadizMenu_icon__1sqne" aria-hidden="true"
                            ><img class="follower-icon" src="/static/images/myPage/heart.png" ></span
                          ><span class="MyWadizMenu_text__9ryGW">내가 모집한 글</span
                          ><span class="arrowImg2" ><img src="/static/images/myPage/moreThan.png" style="width: 22px;"></span
                        ></a>
                      </li>
                      <li class="MyWadizMenu_menu__3b-H-">
                        <a href="/web/wmypage/myfunding/investfundinglist"
                          ><span class="MyWadizMenu_icon__1sqne" aria-hidden="true"
                            ><i class="invest-icon"></i></span
                          ><span class="MyWadizMenu_text__9ryGW">내가 참여한 글</span
                          ><span class="arrowImg2" ><img src="/static/images/myPage/moreThan.png" style="width: 22px;"></span
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="MyWadizSection_section__3FCv1">
                  <h4 class="MyWadizSection_title__2pnV3">나의 문의 내역</h4>
                  <div>
                    <ul>
                      <li class="MyWadizMenu_menu__3b-H-">
                        <a href="/web/board/personalMessage/inbox"
                          ><span
                          class="MyWadizMenu_icon__1sqne" aria-hidden="true"><img class="follower-icon" src="/static/images/myPage/message.png">
                        </span><span class="MyWadizMenu_text__9ryGW">메이커 문의</span
                          ><span class="arrowImg2" ><img src="/static/images/myPage/moreThan.png" style="width: 22px;"></span
                        ></a>
                      </li>
                      <li class="MyWadizMenu_menu__3b-H-">
                        <a href="/web/wstartup/contactList"
                          ><span
                          class="MyWadizMenu_icon__1sqne" aria-hidden="true"><img class="follower-icon" src="/static/images/myPage/search.png"></span><span class="MyWadizMenu_text__9ryGW">스타트업 문의</span
                          ><span class="arrowImg2" ><img src="/static/images/myPage/moreThan.png" style="width: 22px;"></span
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="MyWadizSection_section__3FCv1">
                  <h4 class="MyWadizSection_title__2pnV3">고객센터</h4>
                  <div>
                    <ul>
                      <li class="MyWadizMenu_menu__3b-H-">
                        <a href="https://helpcenter.wadiz.kr/hc/ko"
                          ><span class="MyWadizMenu_icon__1sqne" aria-hidden="true"
                          ><img class="follower-icon" src="/static/images/myPage/chat.png"></span
                        ><span class="MyWadizMenu_text__9ryGW">1:1 채팅 상담</span
                          ><span class="arrowImg2" ><img src="/static/images/myPage/moreThan.png" style="width: 22px;"></span
                        ></a>
                      </li>
                      <li class="MyWadizMenu_menu__3b-H-">
                        <a href="https://helpcenter.wadiz.kr/hc/ko"
                          ><span class="MyWadizMenu_icon__1sqne" aria-hidden="true"
                          ><img class="follower-icon" src="/static/images/myPage/question.png"></span
                        ><span class="MyWadizMenu_text__9ryGW">도움말 센터</span
                          ><span class="arrowImg2" ><img src="/static/images/myPage/moreThan.png" style="width: 22px;"></span
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="MyWadizSection_section__3FCv1">
                  <div>
                    <ul class="MyWadizOtherMenu_otherMenu__2GlwQ">
                      <li class="MyWadizMenu_menu__3b-H-">
                        <a href="/web/wboard/newsBoardList"
                          ><span class="MyWadizMenu_icon__1sqne" aria-hidden="true"
                          ><img class="follower-icon" src="/static/images/myPage/megaphone.png"></span
                        ><span class="MyWadizMenu_text__9ryGW">공지사항</span
                          ><span class="arrowImg2" ><img src="/static/images/myPage/moreThan.png" style="width: 22px;"></span
                        ></a>
                      </li>
                      <li class="MyWadizMenu_menu__3b-H-">
                        <a href="/web/waccount/wAccountUpdateBasicInfoIntro"
                          ><span class="MyWadizMenu_icon__1sqne" aria-hidden="true"
                          ><img class="follower-icon" src="/static/images/myPage/wheel.png"></span
                        ><span class="MyWadizMenu_text__9ryGW">설정</span
                          ><span class="arrowImg2" ><img src="/static/images/myPage/moreThan.png" style="width: 22px;"></span
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 모달 -->
    <div id="myModal" class="modal">
      <div class="modal-background">
      <div class="modal-content">
          <span class="close">&times;</span>
              <div class="modal-header">
                <h3>내 등급</h3>
              </div>
                    <div class="content-container">
                        <h4 class="detail-title">등급 정보</h4>
                        <!-- 뱃지 정보들이 담길 테이블 -->
                        <div class="content-wrap">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>항목</th>
                                        <th>등급</th>
                                        <th>참여도</th>
                                        <th>혜택</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <!-- 배지 이미지 들어가는 곳 -->
                                        <th><img src="../../static/images/myPage/seed.png" style="width: 15px;" alt=""></th>
                                        <th>씨앗</th>
                                        <th>참여,모집횟수 1~5회</th>
                                        <th>-</th>
                                    </tr>
                                    <tr>
                                        <th><img src="../../static/images/myPage/seedling.png" style="width: 15px;" alt=""></th>
                                        <th>새싹</th>
                                        <th>참여,모집횟수 6~10회</th>
                                        <th>-</th>
                                    </tr>
                                    <tr>
                                        <th><img src="../../static/images/myPage/plant.png" style="width: 15px;" alt=""></th>
                                        <th>묘목</th>
                                        <th>참여,모집횟수 11~15회</th>
                                        <th>배너 등록시 10%</th>
                                    </tr>
                                    <tr>
                                        <th><img src="../../static/images/myPage/tree.png" style="width: 15px;" alt=""></th>
                                        <th>나무</th>
                                        <th>참여,모집횟수 16~20회</th>
                                        <th>배너 등록시 20%</th>
                                    </tr>
                                    <tr>
                                        <th><img src="../../static/images/myPage/dodam.png" style="width: 15px;" alt=""></th>
                                        <th>도담</th>
                                        <th>참여,모집횟수 21회 이상</th>
                                        <th>배너 이용시 30%</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- 사용자의 배지 정보가 나오는 곳 -->
                    <div class="content-container">
                        <h4 class="detail-title">나의 등급</h4>
                        <div class="content-wrap">
                            <div class="user-info">
                                <div>
                                    <span>당신의 등급는 현재 "씨앗" 등급 입니다.</span>
                                    <div>
                                        <img src="../../static/images/myPage/bigseed.png" style="width: 80px;
                                        position: relative;
                                        top: 14px;" alt="">
                                    </div>
                                    <br>
                                    <span style="position: relative;
                                    top: 7px;">다음 등급까지 참여,모집 3회 남았습니다.</span>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
        
      </div>
    </div>
  </div>
    <!-- 모달 끝 -->
  </body>
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
  <script src="../../static/js/myPage/myPage-main.js"></script>
</html>
