@charset "utf-8";

body, button, input, select, textarea {
    font-family: 'Noto Sans KR';
}

body {
    overflow-x: hidden;
    line-height: inherit;
    color: inherit;
    font-weight: 400;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -o-text-size-adjust: none;
}

*, :after, :before {
    box-sizing: border-box;
}

div {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}

.errorpage {
    margin: 0 auto;
    padding: 60px 20px;
    min-width: 250px;
    max-width: 580px;
    text-align: center;
    line-height: 1.7em;
    color: #44484b;
    font-size: 15px;
}

.errorpage .icon {
    margin-bottom: 20px;
}

.errorpage .icon>i {
    color: #ffb500;
    font-size: 80px;
}

div.errorpage h1 {
    line-height: 1em;
    font-size: 48px;
    font-weight: 300;
    margin-top: 20px;
}

.errorpage .message {
    margin: 20px 0;
}

.basic.button {
    transition-property: background-color, border-color, color, opacity;
    transition-duration: 0.2s;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    background-color: #fff;
    cursor: pointer;
    padding: 0 1.4117647059em;
    height: 48px;
    vertical-align: middle;
    text-decoration: none;
    line-height: 1;
    color: rgba(0, 0, 0, 0.54);
    font-size: 17px;
    font-weight: 400;
    box-sizing: border-box !important;
    -webkit-appearance: none;
}

.basic.button {
    display: inline-block;
    padding-top: 0.07em;
    text-decoration: none;
}

.basic.button[href] {
    line-height: 46px;
    width: 130px;
}

.basic.button.primary, .basic.button.primary-outline {
    border-color: #2c3d50;
}

.basic.button.primary {
    background-color: #2c3d50;
    color: #fff;
}

.icon-error img {
    width: 100px;
}