<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이벤트 정보 작성</title>
    <link rel="stylesheet" href="../../static/css/event-board/event-board-write.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">  
    <link rel="shortcut icon" href="/static/images/components/dodam-favicon.png">
</head>
<body>
    <div id="page-container">
        <main id="container">
            <form id="submit-btn" class="event-register" method="">
                <!-- 회원 유형 선택 -->
                <section class="member-type">
                    <h3 class="h3-text">신청 유형 선택</h3>
                    <!-- <p class="description-content">사업자 등록 없이 개인으로 메이커 페이지를<br>
                    만들 수 있어요. 사업자 번호가 있다면<br>
                    사업자로 만들기를 선택해주세요.</p> -->
                    <div class="member-type-btn">
                        <button class="business-type-btn btn" id="business-btn" type="button">
                            <span>
                                <span class="button-children businee-color" id="business-span">기업으로 모집하기</span></span></button>

                                <button class="business-type-btn personal btn" type="button">
                                    <span>
                                        <span class="button-children" id="personal-span">개인으로 모집하기</span></span></button>
                    </div>
                </section>

                
                <section class="info-register">
                    <div class="business-container">
                    <h3 class="h3-text">기업 정보 입력하기</h3>
                    <p class="description-content">개인과 기업 중 선택해주세요</p>

                 
                    <!-- 사업자 등록 번호 -->
                    <div class="waffle field">
                        <div class="waffle label">
                            <label>사업자 등록 번호</label>
                        </div>
                        <div class="input-container">
                            <div class="waffle input">
                                <input class="businessRegNumber number" name="businessRegNumber" placeholder="사업자 등록번호 10자리 입력" maxlength="10" required>
                            </div>
                            <div class="waffle helper mb"></div>
                            <div class="businessRegNumber-error-msg erro-msg"></div>
                        </div>
                    </div>

                    <!-- 상호/법인명 -->
                    <div class="waffle field">
                        <div class="waffle label">
                            <label>상호/법인명</label>
                        </div>
                        <div class="input-container">
                            <div class="waffle input">
                                <input name="businessRegName" placeholder="상호/법인명 입력" required>
                            </div>
                            <div class="waffle helper mb"></div>
                        </div>
                    </div>


                    <!-- 대표번호 -->
                    <div class="waffle field">
                        <div class="waffle label">
                            <label>대표 번호</label>
                        </div>
                        <div class="input-container">
                            <div class="waffle input">
                                <input class="representive-tel number" name="businessNumber" placeholder="회사의 대표번호를 입력해주세요" required>
                            </div>
                            <div class="waffle helpe mb"></div>
                            <div class="representive-tel-error-msg error-msg"></div>
                        </div>
                    </div>

                    
                    <!-- 담당자 이메일 -->
                    <div class="waffle field">
                        <div class="waffle label">
                            <label>대표 이메일</label>
                        </div>
                        <div class="input-container">
                            <div class="waffle input">
                                <input class="business-email email" name="businessEmail" placeholder="대표 이메일을 적어주세요" required>
                            </div>
                            <div class="waffle helper mb"></div>
                            <div class="business-email-error-msg error-msg"></div>
                        </div>
                    </div>
                    <div class="blank"></div>
                </div> <!-- businness container -->

                    <h3 class="h3-text">이벤트 정보 입력하기</h3>
                    <p class="description-content">홍보할 이벤트 정보를<br>
                    양식에 맞게 입력해주세요</p>
                    
                        <!-- 행사명 -->
                    <div class="waffle field">
                        <div class="waffle label">
                            <label>이벤트명</label>
                        </div>
                        <div class="input-container">
                            <div class="waffle input">
                                <input name="eventTitle" placeholder="이벤트명을 적어주세요" required>
                            </div>
                            <div class="waffle helper mb"></div>
                        </div>
                    </div>
                    
                     <!-- 이벤트 장소  -->
                     <div class="waffle field">
                        <div class="waffle label">
                            <label>이벤트 장소</label>
                        </div>
                        <div class="action-input">
                            <div class="input-container mb13">
                                <input name="eventAddress" id="address" class="address" placeholder="주소검색" required>
                                <button class="address-btn" id="detailAddress" type="button" onclick="searchAddress()">주소검색</button>
                                </div>
                           </div>
                        </div>
                        <div class="input-container">
                            <div class="waffle input address-input">
                                <input name="eventAddressDetail" placeholder="상세주소">
                            </div>
                            <label id="address-error" class="error" for="address">필수 항목입니다.</label>
                            <div class="waffle helper mb"></div>
                    </div>   
    

    

                             <!-- 이벤트 기간  -->
                    <div class="waffle field">
                        <div class="waffle label">
                            <label>이벤트 기간</label>
                        </div>
                        <div class="input-container">
                            <div class="waffle input">
                                <input type="date" name="startDate" id="startDate" required>
                                <input type="date" name="endDate" id="endDate" required>
                            </div>
                            <div class="waffle helper mb"></div>
                        </div>
                    </div>


                    <!-- 이벤트 소개  -->
                    <div class="waffle field">
                        <div class="waffle label introduction">
                            <label>이벤트 소개</label>
                        </div>
                        <div class="input-container">
                                <textarea rows="5"placeholder="이벤트 소개를 적어주세요" name="event-introduction" required></textarea>

                            <div class="waffle helper mb"></div>
                        </div>
                    </div>                  

                   <!-- 파일 첨부 -->
                   <div id="plus_picture">
                    <div class="waffle field">
                        <div class="waffle label">
                            <label>파일 첨부
                        </div>
                    <button class="file-button" type="button">
                        <input class="file-input" id='btnAtt' type="file" multiple="multiple" name="fileNames" accept="application/pdf,image/jpg,image/jpeg,image/png" required>등록
                    </button>
                    <label id="btnAtt-error" class="error" for="btnAtt">필수 항목입니다.</label>
                    <div id='att_zone'></div></label>   
                </div>                  
                <div class="waffle helper mb">10MB 이내 pdf, jpeg, png 파일을 등록하세요.</div>
                
                <div class="submit-container">
                <input class="submit-btn btn" type="submit"></button>
                <p class="submit-notice">* 잘못된 정보를 등록하시면 요청이 반려될 수 있습니다.</p>
                </div>
                </section>
            </form>
        </main>
    </div><!-- page container -->

</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="../../static/js/event-board/event-board.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</html>

