<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이벤트 정보 게시판 상세</title>
    <link rel="stylesheet" href="../../static/css/recruitment-board/recruitment-board-detail.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">  
    <link rel="shortcut icon" href="/static/images/components/dodam-favicon.png">
</head>
<body>
    <div id="wrap">
       <div id="container">
              <!-- 모달창 -->
              <div class="like-modal-container event-like" id="like-modal">
                <span class="like-text" style="display:none;">찜 목록에 추가했습니다</span>
                <span class="like-cancel-text"style="display:none;">찜 목록에서 제외했습니다</span>
               </div>
        <div id="recruitment-container">
            <div class="container-form">
                <div class="recruitment-title">
                    <h3>2023 대한민국 채용박람회</h3>
                </div>
                <div class="recruitment-info">
                    <div class="info-img">
                        <img src="https://www.wadiz.kr/ft/images/green001/2023/0313/20230313132913160_null.png"></div>
                    <div class="info-sum">
                        <dl>
                            <dt>모집인</dt>
                            <dd>고용노동부</dd>
                        </dl>
                        <dl>
                            <dt>이벤트 날짜</dt>
                            <dd><span>2023-04-24 ~ 2023-04-25</span></dd>
                        </dl>
                        <dl>
                            <dt>이벤트 장소</dt>
                            <dd>aT센터 제1전시장</dd>
                        </dl>
                        <dl>
                            <dt>문의 번호</dt>
                            <dd>02-2186-9043</dd>
                        </dl>
                        <dl>
                            <dt>문의 이메일</dt>
                            <dd>job@korea.kr</dd>
                        </dl>
                        <div class="wish-button-box">
                            <button type="button" class="wish-button"  aria-pressed="false">
                                <span>
                                    <span class="wish-button-children">
                                        <img class="heart-icon" src ="../../static/images/recruitment-board/non-heart-icon.png">
                                        <div>
                                            <!-- <svg viewBox="0 0 32 32" focusable="false" role="presentation" class="withIcon-icon" aria-hidden="true" style="width: 24px; height: 24px;"> -->
                                                <!-- <path d="M22.16 4h-.007a8.142 8.142 0 0 0-6.145 2.79A8.198 8.198 0 0 0 9.76 3.998a7.36 7.36 0 0 0-7.359 7.446c0 5.116 4.64 9.276 11.6 15.596l2 1.76 2-1.76c6.96-6.32 11.6-10.48 11.6-15.6v-.08A7.36 7.36 0 0 0 22.241 4h-.085zm-5.28 21.84l-.88.8-.88-.8h-.08C8.4 19.76 4 15.84 4 11.44l-.001-.082A5.76 5.76 0 0 1 9.928 5.6a6.542 6.542 0 0 1 4.865 2.232l.486.567h1.52l.48-.56a6.548 6.548 0 0 1 4.877-2.24l.084-.001a5.76 5.76 0 0 1 5.76 5.76l-.001.085c0 4.396-4.4 8.316-11.12 14.396z"></path></svg> -->
                                        </div>
                                        </span>
                                    </span></button>
                                    <p class="recruitment-status d-day"><strong>D-50</strong></p>
                        </div>
                    </div>
                    <div class="sns-share">
                        <span>주변 분들과 함께 참가하고 싶으신가요? 페이지를 공유해보세요!</span>
                        <a class="icon_sns_fb" target="_blank" href="https://www.facebook.com/sharer/sharer.php?app_id=190622721088710&amp;u=http://127.0.0.1:5500/templates/event-board/event-board-detail.html" title="facebook">facebook</a>
                        <a class="icon_sns_tw" target="_blank" href="https://twitter.com/intent/tweet?text=글제목글제목%20https://127.0.0.1:5500/templates/event-board/event-board-detail.html title="twitter">twitter</a>
                        <a href="#" onclick="clip(); return false;"><button class="icon_sns_share" id="urlCopyBtn" data-clipboard-target="#shareLink" title="공유하기" onClick="javascript:popCopyOpen();">공유하기</button>
                        </a>
                    </div>

                </div>
                <div class="contents-detail">
                    <div class="recruitment-detail-container">
                    <img src="https://www.wadiz.kr/ft/images/green001/2023/0313/20230313132659562_1164.png">
                </div>
                </div>
                <div class="my-board">
                    <button class="btn list"><a href="">목록</a></button>
                    <button class="btn"><a href="">수정</a></button>
                    <button class="btn delete"><a class="delete-a" href="">삭제</a></button>
                </div>

                <div class="board-detail-bottom-container">
                    <div class="board-comment-detail">
                        <div class="comment-box">
                            <div class="message-box">
                                <p>
                                    도담도담의 건전한 운영을 위하여 운영기준상 문제의 소지가 있거나 게시물에 관련이 없는 악의적인 댓글은 임의로 삭제될 수 있습니다.
                                </p>
                            </div>
                            <p class="comment-count">
                                <em>3</em>개의 댓글이 달려있습니다.
                            </p>
                            <div class="main-comment">
                                <textarea name="" id="" placeholder="댓글을 입력하세요."></textarea>
                                <div class="btn-complete">
                                    <button class="btn-color">댓글달기</button>
                                </div>
                            </div>
                            <div class="comment-list">
                                <ul id="comment-list-detail">
                                    <li class="top" style="display: list-item;">
                                        <div class="comment-wrap">
                                            <div class="comment-info">
                                                <img src="/static/images/badge/medal_gold_winner_badge_reward_icon.png">
                                                <span class="name">김욱성</span>
                                                <button class="comment-util" onclick="showList(this)"></button>
                                                <ul class="comment-util-list">
                                                    <li>
                                                        <button type="button" class="modify-button">수정</button>
                                                    </li>
                                                    <li>
                                                        <button>삭제</button>
                                                    </li>
                                                </ul>
                                            </div>
                                            <p class="comment-content">둘 다 재밌음 [스포]</p>
                                            <textarea id="" class="modify-textarea" style="display: none;">둘 다 재밌음 [스포]</textarea>
                                            <div class="comment-date">
                                                2023.04.23 23:56
                                            </div>
                                            <div class="comment-bottom" style="display:none;">
                                                <button type="button" class="modify-cancel">취소</button>
                                                <button type="button" class="modify-confirm">수정완료</button>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="btn-place">
                            <button class="btn-comment">댓글 더 보기</button>
                            <button class="btn-comment" style="display: none;">댓글 닫기</button>
                        </div>
                    </div>
                </div>


                <!-- top 버튼 -->
                <div class="top-btn-container">
                    <button type="button" class="top-btn">
                    <svg viewBox="0 0 40 40" focusable="false" role="presentation" class="top-btn-svg" aria-hidden="true">
                    <path d="M33 30l-1.4 1.4L20 19.8 8.4 31.4 7 30l13-13zm1-21H6v2h28z"></path></svg>
                </button></div>


                    <!-- 신청완료  modal 영역 -->
            <div class="modal-bg" onClick="javascript:popClose();"></div>
            <div class="modal-wrap">
                <span>신청이 완료되었습니다</span>
                <button type="button" class="modal-close submit-btn modal" onClick="javascript:popClose();">닫기</button>
                    </div>
                    <!-- //modal 영역 -->

                    
                    <!-- 복사완료  modal 영역 -->
            <div class="modal-bg" onClick="javascript:popCopyClose();"></div>
            <div class="modal-copy">
                <span>복사 완료되었습니다</span>
                <button type="button" class="modal-close submit-btn modal" onClick="javascript:popCopyClose();">닫기</button>
                    </div>
                    <!-- //modal 영역 -->


        </div>
    </div> <!--wrap -->
</div>
<textarea style="display:none;">
</textarea>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/static/js/recruitment-board/recruitment-board-detail.js"></script>
<script src="https://t1.kakaocdn.net/kakao_js_sdk/2.1.0/kakao.min.js"
  integrity="sha384-dpu02ieKC6NUeKFoGMOKz6102CLEWi9+5RQjWSV0ikYSFFd8M3Wp2reIcquJOemx" crossorigin="anonymous">
</script>
<script>
  Kakao.init('e21d13e33dbb10932785f7663d4603f1'); // 사용하려는 앱의 JavaScript 키 입력
</script>
<script>
/* 좋아요 */
$(function(){
    $('.wish-button').click(function(e){
        if($('.wish-button').attr('aria-pressed') == 'false'){
            $(".heart-icon").attr("src", "../../static/images/recruitment-board/heart-background.png");
            $('.wish-button').attr('aria-pressed','true') //하트 색 채우기
            $('.like-cancel-text').hide(); //해제 문구
            $('#like-modal').fadeIn();
            $('.like-text').fadeIn();
            // $('#like-modal').css({right: '-30%'}); //오->왼 슬라이드 등장
            // $('#like-modal').animate({right:'30px'}, {duration: 700}); //오->왼 슬라이드 등장
            // $('#like-modal').show(); //슬라이드 보이기
            // $('.like-text').show(); //찜 추가 문구
            $('#like-modal').delay(500).fadeOut(); //사라지기
        
        }else{
            $(".heart-icon").attr("src", "../../static/images/recruitment-board/non-heart-icon.png");
            $('.wish-button').attr('aria-pressed','false') //색 비우기
            $('.like-text').hide();  //찜 추가 문구
            // $('#like-modal').css({right: '-30%'}); //오->왼 슬라이드 등장
            // $('#like-modal').animate({right:'30px'}, {duration: 700}); //오->왼 슬라이드 등장
            $('#like-modal').fadeIn();
            $('.like-cancel-text').fadeIn(); //찜 해제 문구
            // $('#like-modal').show(); //슬라이드 보이기
            // $('.like-cancel-text').show(); //찜 해제 문구
            $('#like-modal').delay(500).fadeOut(); //사라지기
        }
    });
});
/* url 복사 */
function clip(){
var url = '';
var textarea = document.createElement("textarea");
    document.body.appendChild(textarea);
    url = window.document.location.href;
    textarea.value = url;
    textarea.select();
    document.execCommand("copy");
    document.body.removeChild(textarea);
}


/* 복사 완료 모달 */
function popCopyOpen() {
var modalPop = $('.modal-copy');
var modalBg = $('.modal-bg'); 
    $(modalPop).show();
    $(modalBg).show();
}
function popCopyClose() {
var modalPop = $('.modal-copy');
var modalBg = $('.modal-bg');
    $(modalPop).hide();
    $(modalBg).hide();
}

/* top 버튼  */
var topEle = $('.top-btn');
var delay = 400;

/* top show-hide */
$(window).scroll(function() {
    if($(this).scrollTop() > 200 ) {
        console.log(topEle);
		$('.top-btn').fadeIn();
	} else {
		$('.top-btn').fadeOut();
	}
});

/* top버튼- 위로 올리기 */
$('.top-btn').click( function() {
	$('html, body').animate({scrollTop:0}, delay );
	return false;
});



</script>
</html>