body {
    font-family: Noto Sans KR !important;
    overflow-y: scroll;
    line-height: 1.5em;
    letter-spacing: -.02em;
    color: rgba(0,0,0,.84);
    font-size: 15px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    -moz-osx-font-smoothing: grayscale;
}

a, address, article, aside, audio, b, body, button, canvas, caption, dd, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, img, input, label, legend, li, nav, ol, p, pre, section, small, span, strong, summary, table, tbody, td, th, thead, time, tr, ul, video {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
    font: inherit;
    box-sizing: border-box;
}

article, blockquote, body, dd, div, dl, dt, h1, h2, h3, h4, html, li, main, ol, p, section, table, tbody, td, th, thead, tr, ul {
    margin: 0;
    padding: 0;
}

body, h1, h2, h3, h4, h5, h6, p, em, div {
    margin: 0;
    padding: 0;
    border: 0;
}

button {
    background: none;
    color: inherit;
    border-radius: 0;
    cursor: pointer;
    font-family: 'Noto Sans KR';
    -webkit-font-smoothing: antialiased;
}

body, body button, body input, body li, body ol, body select, body textarea, body ul {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

textarea {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
}

input, optgroup, select, textarea {
    color: inherit;
}

button:not(:disabled) {
    cursor: pointer;
}

.main-wrap {
    width: 100%;
    padding: 30px 0 0;
}

.section1 {
    padding: 0 10px 15px;
}

.detail-title {
    padding-bottom: 15px;
    border-bottom: 1px solid #e4e4e4;
}

p.board {
    margin-bottom: 10px;
    font-size: 13px;
    color: #3B5998;
}

em.type {
    display: inline-block;
    margin-bottom: 10px;
    padding: 0 6px;
    height: 24px;
    line-height: 24px;
    font-size: 13px;
    color: #fff;
    background: #3B5998;
}

p.title {
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 22px;
}

p.info {
    margin-bottom: 10px;
}

p.info em {
    display: inline-block;
    margin-right: 10px;
    padding: 0;
    font-size: 12px;
    height: 12px;
    line-height: 12px;
    color: #65696B;
}

p.info em.like-count {
    padding-left: 15px;
    background: url('https://www.wadiz.kr/resources/static/img/common/icon_red_heart.png') no-repeat 0 center;
    background-size: 11px 10px;
}

.detail-content {
    padding: 20px 0;
    word-break: keep-all;
    color: #212529;
    overflow-wrap: break-word;
}

.detail-content p {
    line-height: 28px;
    letter-spacing: -0.3px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    margin-top: 12px;
    margin-bottom: 12px;
    color: #495057;
}

.detail-content img {
    max-width: 100%;
    vertical-align: top;
    height: 350px;
}

.board-comment {
    padding-bottom: 30px;
}

.like-share-area:after {
    content: "";
    clear: both;
    display: block;
}

.like-share-area {
    padding: 15px 10px;
    padding-left: max(10px, env(safe-area-inset-left));
    padding-right: max(10px, env(safe-area-inset-right));
}

.like-share-area .btn-like {
    float: left;
    display: inline-block;
    padding: 0 15px 0 35px;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    color: #e4e4e4;
    border: 1px solid #e4e4e4;
    background: url('https://www.wadiz.kr/resources/static/img/common/icon_gray_heart.png') no-repeat 15px 8px;
    background-size: 15px 13px;
}

.like-share-area .btn-share {
    float: right;
}

.btn-share button {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
    background: no-repeat 0 0;
    background-size: cover;
}

.btn-share button.kakao {
    background-image: url('https://www.wadiz.kr/resources/static/img/common/icon_gray_kakao.png');
}

.btn-share button.facebook {
    background-image: url('	https://www.wadiz.kr/resources/static/img/common/icon_gray_facebook.png');
}

.btn-share button.twitter {
    background-image: url('	https://www.wadiz.kr/resources/static/img/common/icon_gray_twitter.png');
}


@media screen and (min-width: 960px){
    .main-wrap:after {
        content: "";
        clear: both;
        display: block;
    }

    .main-wrap {
        width: 960px;
        margin: 0 auto;
        padding: 50px 0;
    }

    .section1 {
        float: left;
        padding: 0;
        width: 670px;
    }

    .detail-title {
        width: 650px;
        padding: 0;
    }

    .detail-info {
        position: relative;
    }

    .board-detail-bottom {
        width: 960px;
        margin: 0 auto;
    }

    .board-comment {
        width: 650px;
    }
}