<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자유게시판</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gugi&display=swap">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/css/free-board/free-board-list.css">
    <link rel="stylesheet" href="/css/free-board/modal.css">
    <link rel="shortcut icon" href="/images/components/dodam-favicon.png">
</head>
<body>
    <!--맨위로 가기 버튼-->
    <button class="back-to-top"></button>
    <!--모달창-->
    <div id="myModal" class="modal" th:if="${#strings.equals(param.login, 'false')}">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>로그인 후 이용해주세요.</p>
            <button id="closeModalBtn">확인</button>
        </div>
    </div>
    <!--모달창-->
    <div class="main-content">
        <div class="free-board-container">
            <!-- 자유게시판 헤더 시작 -->
            <div class="free-board-top">
                <div class="free-board-title">
                    <div class="title-bar">
                        <p class="title-bar-month">
                            <strong>5</strong>월
                        </p>
                        <p class="title-bar-text">
                            자유게시판
                            <span>자유롭게 작성 가능합니다.</span>
                        </p>
                    </div>
                </div>
                <!-- 자유게시판 카테고리 시작 -->
                <div class="free-board-type">
                    <ul class="bar-button-list">
                        <li class="bar-button" onclick="changeStatus(this)">
                            <a name="all" class="type-all">
                                <em>ALL</em>
                                <span>전체보기</span>
                            </a>
                        </li>
                        <li class="bar-button" onclick="changeStatus(this)">
                            <a name="culture" class="type-culture">
                                <em></em>
                                <span>문화</span>
                            </a>
                        </li>
                        <li class="bar-button" onclick="changeStatus(this)">
                            <a name="event" class="type-event">
                                <em></em>
                                <span>이벤트</span>
                            </a>
                        </li>
                        <li class="bar-button" onclick="changeStatus(this)">
                            <a name="recruitment" class="type-recruitment">
                                <em></em>
                                <span>모집</span>
                            </a>
                        </li>
                        <li class="bar-button" onclick="changeStatus(this)">
                            <a name="free" class="type-sell">
                                <em></em>
                                <span>판매</span>
                            </a>
                        </li>
                        <li class="bar-button" onclick="changeStatus(this)">
                            <a name="free" class="type-free">
                                <em></em>
                                <span>일상</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- 자유게시판 카테고리 끝 -->
            </div>
            <!-- 자유게시판 헤더 끝 -->
            <!-- 자유게시판 목록 시작 -->
            <div class="free-board-form">
                <div class="free-board-list">
<!--                    <div class="free-board-detail">-->
<!--                        <span class="free-board-image image-detail">-->
<!--                            <img src="/images/free-board/basic-image.png">-->
<!--                        </span>-->
<!--                        <a href="#">-->
<!--                            <div class="detail-form">-->
<!--                                <em class="type">수다</em>-->
<!--                                <p class="detail-title">리바운드 vs 슬램덩크</p>-->
<!--                                <p class="detail-write">박다예</p>-->
<!--                                <p class="detail-content">뭐가 더 재밌었어요?? 결국 못봤어요...ㅠㅠ</p>-->
<!--                                <p class="detail-number">-->
<!--                                    <em class="like-count">10</em>-->
<!--                                    <em class="detail-date">2023.05.02</em>-->
<!--                                </p>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                    <div class="free-board-detail">-->
<!--                        <span class="free-board-image image-detail">-->
<!--                            <img src="/images/free-board/DDP.jpg" alt="">-->
<!--                        </span>-->
<!--                        <a href="#">-->
<!--                            <div class="detail-form">-->
<!--                                <em class="type">문화</em>-->
<!--                                <p class="detail-title">DDP 가보신분?</p>-->
<!--                                <p class="detail-write">김욱성</p>-->
<!--                                <p class="detail-content">-->
<!--                                    세계 최대 규모의 3차원 비정형 건축물-->
<!--                                    <br>-->
<!--                                    외국인 친구 소개해주려고 하는데 좋아할까요?-->
<!--                                </p>-->
<!--                                <p class="detail-number">-->
<!--                                    <em class="like-count">23</em>-->
<!--                                    <em class="detail-date">2023.05.01</em>-->
<!--                                </p>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                    <div class="free-board-detail">-->
<!--                        <span class="free-board-image image-detail">-->
<!--                            <img src="/images/free-board/hanok.jpg" alt="">-->
<!--                        </span>                        <a href="#">-->
<!--                            <div class="detail-form">-->
<!--                                <em class="type">이벤트</em>-->
<!--                                <p class="detail-title">한옥 사진 공모전</p>-->
<!--                                <p class="detail-write">정세인</p>-->
<!--                                <p class="detail-content">작년 당선작이라는데 이정도면 저도 가능할지도?</p>-->
<!--                                <p class="detail-number">-->
<!--                                    <em class="like-count">100</em>-->
<!--                                    <em class="detail-date">2023.04.30</em>-->
<!--                                </p>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                    <div class="free-board-detail">-->
<!--                        <span class="free-board-image image-detail">-->
<!--                            <img src="/images/free-board/tennis.jpg">-->
<!--                        </span>-->
<!--                        <a href="#">-->
<!--                            <div class="detail-form">-->
<!--                                <em class="type">모집</em>-->
<!--                                <p class="detail-title">테니스 초보자도 가능한가요?</p>-->
<!--                                <p class="detail-write">김세윤</p>-->
<!--                                <p class="detail-content">-->
<!--                                    운동은 숨쉬기 운동밖에 안해봤는데 괜찮을까요?-->
<!--                                    <br>-->
<!--                                    테니스공 맞으면 많이 아픈가요?-->
<!--                                </p>-->
<!--                                <p class="detail-number">-->
<!--                                    <em class="like-count">59</em>-->
<!--                                    <em class="detail-date">2023.04.29</em>-->
<!--                                </p>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                    <div class="free-board-detail">-->
<!--                        <span class="free-board-image image-detail">-->
<!--                            <img src="/images/free-board/knitting-bag.jpg">-->
<!--                        </span>-->
<!--                        <a href="#">-->
<!--                            <div class="detail-form">-->
<!--                                <em class="type">판매</em>-->
<!--                                <p class="detail-title">제가 만든 뜨개가방 어떤가요?</p>-->
<!--                                <p class="detail-write">윤민우</p>-->
<!--                                <p class="detail-content">-->
<!--                                    뜨개가방 판매하려고 하는데 가격 어느정도면 구매하실까요?-->
<!--                                    <br>-->
<!--                                    원재료값이랑 핸드메이드라 1만원이상으로 측정해주세요!-->
<!--                                </p>-->
<!--                                <p class="detail-number">-->
<!--                                    <em class="like-count">10</em>-->
<!--                                    <em class="detail-date">2023.04.28</em>-->
<!--                                </p>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </div>-->
                    <!-- 페이징 처리 시작 -->
<!--                    <div class="page-list">-->
<!--                        <ul>-->
<!--                            <li>-->
<!--                                <button>1</button>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <button>2</button>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <button>3</button>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <button>4</button>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <button>5</button>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <button>></button>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </div>-->
                    <!-- 페이징 처리 끝 -->
                </div>
                <div class="free-board-side">
                    <div class="search-area sub-page">
                        <input type="text" name="" id="search-input" placeholder="검색하기">
                        <button class="btn-search"></button>
                    </div>
                    <div class="btn-wrap">
                        <button class="btn-write" onclick="location.href='/free/write-board-check'">작성 바로가기</button>
                    </div>
                    <div class="best-list detail">
                        <img src="/images/free-board/trophy_icon.png" alt="">
                        <h4>
                            인기글 TOP5
                        </h4>
                        <ol>
                           <li>
                                <em>1</em>
                                <p class="title">
                                    <a th:href="@{/free/detail/{boardId}(boardId = ${top5[0].id})}" th:text="${top5[0].boardTitle}">[4팀 점메추] 네모오징어</a>
                                </p>
                           </li> 
                           <li>
                                <em>2</em>
                                <p class="title">
                                    <a th:href="@{/free/detail/{boardId}(boardId = ${top5[1].id})}" th:text="${top5[1].boardTitle}">[4팀 점메추] 돛고기</a>
                                </p>
                           </li> 
                           <li>
                                <em>3</em>
                                <p class="title">
                                    <a th:href="@{/free/detail/{boardId}(boardId = ${top5[2].id})}" th:text="${top5[2].boardTitle}">[4팀 점메추] 부대찌개</a>
                                </p>
                           </li> 
                           <li>
                                <em>4</em>
                                <p class="title">
                                    <a th:href="@{/free/detail/{boardId}(boardId = ${top5[3].id})}" th:text="${top5[3].boardTitle}">[4팀 점메추] 연가</a>
                                </p>
                           </li> 
                           <li>
                                <em>5</em>
                                <p class="title">
                                    <a th:href="@{/free/detail/{boardId}(boardId = ${top5[4].id})}" th:text="${top5[4].boardTitle}">[4팀 점메추] 스메쉬버거</a>
                                </p>
                           </li> 
                        </ol>
                    </div>
                </div>
            </div>
            <!-- 자유게시판 목록 끝 -->
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/free-board/modal.js"></script>
<script th:inline="javascript">
    let nextPage = 0;
    let checkStatus = false;
    let freeCategory;

    $('.bar-button').on("click", function () {
        freeCategory = $('.pushed').find('span').text()
        console.log(freeCategory);
        $(".free-board-list").empty();
        nextPage = 0
        fetchData();
        checkStatus = false;
    })

    $('.btn-search').on("click", function(){
        console.log("들어옴");
        $(".free-board-list").empty();
        nextPage = 0
        fetchData();
        checkStatus = false;
    });

    /* 날짜 변환 (년, 월, 일) */
    function changeDateToString(e){
        let month = "";
        date = new Date(e.createdDate);
        month = date.getMonth() + 1;
        if (month < 10){
            month = "0" + month;
        }
        return date.getFullYear() + "." + month + "." + date.getDate();
    }

    /* 자유게시글 목록 분류 */
    function changeTypeToString(e) {
        let category = e.freeCategory;
        if(category.toString() == "ALL"){
            return "전체";
        } else if(category.toString() == ("CULTURE")) {
            return "문화";
        } else if(category.toString() == ("EVENT")) {
            return "이벤트";
        } else if(category.toString() == ("RECRUITMENT")) {
            return "모집";
        } else if(category.toString() == ("PURCHASE")) {
            return "판매";
        } else if(category.toString() == ("DAILY")) {
            return "일상";
        } else {
            return "전체";
        }
    }

    // ajax로 게시글 목록 불러오기(12개씩 가져옴)
    const fetchData = () => {
        let page = nextPage;
        let search = $('#search-input').val();  // searchbox안에 있는 value 값
        nextPage++;
        console.log("nextPage : " + nextPage);
        checkStatus = false;
        $.ajax({
            type: 'GET',
            url: `/free/list-search?page=${page}&&search=${search}&&category=${freeCategory}`,
            success: function (result) {
                console.log(result);
                // showList(result); // 새로운 값을 담기
                setTimeout(function(){checkStatus = true;},500);
                showList(result);

            },
            error: function (error) {
                console.log('Error fetching data:', error);
            }
        });
    };

    // 처음에 화면에 목록 뿌려주기
    $(document).ready(function () {
        console.log("Ready 들어옴");
        fetchData();
    });

    // 무한 스크롤 이벤트
    $(window).scroll(function () {
        if (Math.ceil($(window).scrollTop()) >= $(document).height() - $(window).height() - 50) {
            if (checkStatus){
                fetchData();
            }
        }
    });

    // 화면에 데이터 받아온거 뿌려주기
    function showList(result) {
        // console.log("들어옴2@@@@@@@@@@@");
        for (let i=0; i < result.length; i++) {
            let text = "";
            /* 날짜 변환해서 담아둠*/
            let date = changeDateToString(result[i]);
            /* 자유게시글 카테고리 변환해서 담아둠 */
            let category = changeTypeToString(result[i]);
            /* 리스트 하나하나의 내용 */
            /* background-image 쪽 추가로 작업해야함, 밋밋하면 likeCount 추가 DTO에 만들어 둠 */
            text += `
                    <div class="free-board-detail">
                        <span class="free-board-image image-detail">
                            <img src="/images/free-board/basic-image.png">
                        </span>
                        <a href="/free/detail/${result[i].id}">
                            <div class="detail-form">
                                <em class="type">${category}</em>
                                <p class="detail-title">${result[i].boardTitle}</p>
                                <p class="detail-write">${result[i].memberDTO.memberName}</p>
                                <p class="detail-content">${result[i].boardContent}</p>
                                <p class="detail-number">
                                    <em class="like-count">${result[i].likeCount}</em>
                                    <em class="detail-date">${date}</em>
                                </p>
                            </div>
                        </a>
                    </div>`;
            /* 추가한 내용 화면에 뿌려주기 */
            $(".free-board-list").append(text);
        }
    }
</script>
<script src="/js/free-board/free-board-list.js"></script>
<script>
    // $('bar-button').on();
    function changeStatus(e) {
        $('.bar-button').attr('class', 'bar-button');
        $(e).addClass('pushed');
    }
</script>
</html>