<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자유게시판</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gugi&display=swap">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/static/css/free-board/free-board-list copy 2.css">
    <link rel="shortcut icon" href="/static/images/components/dodam-favicon.png">
</head>
<body>
    <div class="main-content">
        <div class="free-board-container">
            <!-- 자유게시판 헤더 시작 -->
            <div class="free-board-top">
                <div class="free-board-title">
                    <div class="title-bar">
                        <p class="title-bar-month">
                            <strong>5</strong>월
                        </p>
                        <p class="title-bar-text">
                            자유게시판
                            <span>자유롭게 작성 가능합니다.</span>
                        </p>
                    </div>
                </div>
                <!-- 자유게시판 카테고리 시작 -->
                <div class="free-board-type">
                    <ul class="bar-button-list">
                        <li class="bar-button">
                            <a name="all" class="type-all">
                                <em>ALL</em>
                                <span>전체보기</span>
                            </a>
                        </li>
                        <li class="bar-button">
                            <a name="culture" class="type-culture">
                                <em></em>
                                <span>문화</span>
                            </a>
                        </li>
                        <li class="bar-button">
                            <a name="event" class="type-event">
                                <em></em>
                                <span>이벤트</span>
                            </a>
                        </li>
                        <li class="bar-button">
                            <a name="recruitment" class="type-recruitment">
                                <em></em>
                                <span>모집</span>
                            </a>
                        </li>
                        <li class="bar-button">
                            <a name="free" class="type-sell">
                                <em></em>
                                <span>판매</span>
                            </a>
                        </li>
                        <li class="bar-button">
                            <a name="free" class="type-free">
                                <em></em>
                                <span>수다</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- 자유게시판 카테고리 끝 -->
            </div>
            <!-- 자유게시판 헤더 끝 -->
            <!-- 자유게시판 목록 시작 -->
            <div class="free-board-form">
                <div class="free-board-list">
                    <div class="free-board-detail">
                        <span class="free-board-image image-detail">
                            <img src="/static/images/free-board/basic-image.png">
                        </span>
                        <a href="#">
                            <div class="detail-form">
                                <p class="detail-type">
                                    <span>
                                        <i class="type-category"></i>
                                        수다
                                    </span>
                                </p>
                                <p class="detail-title">리바운드 vs 슬램덩크</p>
                                <p class="detail-write">박다예</p>
                                <p class="detail-content">뭐가 더 재밌었어요?? 결국 못봤어요...ㅠㅠ</p>
                                <p class="detail-number">
                                    <em class="like-count">10</em>
                                    <em class="detail-date">2023.05.02</em>
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="free-board-detail">
                        <span class="free-board-image image-detail">
                            <img src="/static/images/free-board/DDP.jpg" alt="">
                        </span>
                        <a href="#">
                            <div class="detail-form">
                                <p class="detail-type">
                                    <span>
                                        <i class="type-category"></i>
                                        문화
                                    </span>
                                </p>
                                <p class="detail-title">DDP 가보신분?</p>
                                <p class="detail-write">김욱성</p>
                                <p class="detail-content">
                                    세계 최대 규모의 3차원 비정형 건축물
                                    <br>
                                    외국인 친구 소개해주려고 하는데 좋아할까요?
                                </p>
                                <p class="detail-number">
                                    <em class="like-count">23</em>
                                    <em class="detail-date">2023.05.01</em>
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="free-board-detail">
                        <span class="free-board-image image-detail">
                            <img src="/static/images/free-board/hanok.jpg" alt="">
                        </span>                        <a href="#">
                            <div class="detail-form">
                                <p class="detail-type">
                                    <span>
                                        <i class="type-category"></i>
                                        이벤트
                                    </span>
                                </p>
                                <p class="detail-title">한옥 사진 공모전</p>
                                <p class="detail-write">정세인</p>
                                <p class="detail-content">작년 당선작이라는데 이정도면 저도 가능할지도?</p>
                                <p class="detail-number">
                                    <em class="like-count">100</em>
                                    <em class="detail-date">2023.04.30</em>
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="free-board-detail">
                        <span class="free-board-image image-detail">
                            <img src="/static/images/free-board/tennis.jpg">
                        </span>
                        <a href="#">
                            <div class="detail-form">
                                <p class="detail-type">
                                    <span>
                                        <i class="type-category"></i>
                                        모집
                                    </span>
                                </p>
                                <p class="detail-title">테니스 초보자도 가능한가요?</p>
                                <p class="detail-write">김세윤</p>
                                <p class="detail-content">
                                    운동은 숨쉬기 운동밖에 안해봤는데 괜찮을까요?
                                    <br>
                                    테니스공 맞으면 많이 아픈가요?
                                </p>
                                <p class="detail-number">
                                    <em class="like-count">59</em>
                                    <em class="detail-date">2023.04.29</em>
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="free-board-detail">
                        <span class="free-board-image image-detail">
                            <img src="/static/images/free-board/knitting-bag.jpg">
                        </span>
                        <a href="#">
                            <div class="detail-form">
                                <p class="detail-type">
                                    <span>
                                        <i class="type-category"></i>
                                        판매
                                    </span>
                                </p>
                                <p class="detail-title">제가 만든 뜨개가방 어떤가요?</p>
                                <p class="detail-write">윤민우</p>
                                <p class="detail-content">
                                    뜨개가방 판매하려고 하는데 가격 어느정도면 구매하실까요?
                                    <br>
                                    원재료값이랑 핸드메이드라 1만원이상으로 측정해주세요!
                                </p>
                                <p class="detail-number">
                                    <em class="like-count">10</em>
                                    <em class="detail-date">2023.04.28</em>
                                </p>
                            </div>
                        </a>
                    </div>
                    <!-- 페이징 처리 시작 -->
                    <div class="page-list">
                        <ul>
                            <li>
                                <button>1</button>
                            </li>
                            <li>
                                <button>2</button>
                            </li>
                            <li>
                                <button>3</button>
                            </li>
                            <li>
                                <button>4</button>
                            </li>
                            <li>
                                <button>5</button>
                            </li>
                            <li>
                                <button>></button>
                            </li>
                        </ul>
                    </div>
                    <!-- 페이징 처리 끝 -->
                </div>
                <div class="free-board-side">
                    <div class="search-area sub-page">
                        <input type="text" name="" id="" placeholder="검색하기">
                        <button class="btn-search"></button>
                    </div>
                    <div class="btn-wrap">
                        <button class="btn-write">작성 바로가기</button>
                    </div>
                    <div class="best-list detail">
                        <img src="/static/images/free-board/trophy_icon.png" alt="">
                        <h4>
                            인기글 TOP5
                        </h4>
                        <ol>
                           <li>
                                <em>1</em>
                                <p class="title">
                                    <a href="">[4팀 점메추] 네모오징어</a>
                                </p>
                           </li> 
                           <li>
                                <em>2</em>
                                <p class="title">
                                    <a href="">[4팀 점메추] 돛고기</a>
                                </p>
                           </li> 
                           <li>
                                <em>3</em>
                                <p class="title">
                                    <a href="">[4팀 점메추] 부대찌개</a>
                                </p>
                           </li> 
                           <li>
                                <em>4</em>
                                <p class="title">
                                    <a href="">[4팀 점메추] 연가</a>
                                </p>
                           </li> 
                           <li>
                                <em>5</em>
                                <p class="title">
                                    <a href="">[4팀 점메추] 스메쉬버거</a>
                                </p>
                           </li> 
                        </ol>
                    </div>
                </div>
            </div>
            <!-- 자유게시판 목록 끝 -->
        </div>
    </div>
</body>
</html>