<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자유게시판</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gugi&display=swap">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../../static/css/freeo-board/free-board.css">
</head>
<body>
    <div>
        <main>
            <div class="main-content">
                <div class="free-board-container">
                    <div class="free-board-top">
                        <div class="free-board-title">
                            <div class="title-bar">
                                <p class="title-bar-month">
                                    <strong>4</strong>월
                                </p>
                                <p class="title-bar-text">
                                    자유게시판
                                    <span>자유롭게 작성 가능합니다.</span>
                                </p>
                            </div>
                        </div>
                        <div class="free-board-type">
                            <ul class="bar-button-list">
                                <li class="bar-button">
                                    <a name="all" class="type-all">
                                        <em>ALL</em>
                                        <span>전체보기</span>
                                    </a>
                                </li>
                                <li class="bar-button"></li>
                                <li class="bar-button"></li>
                                <li class="bar-button"></li>
                                <li class="bar-button"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="free-board-form">
                        <div class="free-board-list">
                            <div class="free-board-detail">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>