<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>자주하는 질문</title>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet">
<link href="/static/css/notice/question.css" rel="stylesheet">
</head>
<body>
    <jsp:include page="${pageContext.request.contextPath}/dhouse/components/header.jsp"></jsp:include>
    <!-- <jsp:include page="../components/header.jsp"></jsp:include> -->
	<div id="whole-wrapper">
        <div id="whole-inner">
            <p id="event-title">자주하는 질문</p>
            <div id="menu-wrapper">
                <div id="menu-menus">
                    <div id="menu-menu">
                        <a href="#"  id="a-1"><p class="p-in-a" id="p-in-a-1">자주하는 질문</p></a>
                        <a href="#"  id="a-2"><p class="p-in-a">공지사항</p></a>
                        <!-- <a href=""  id="a-3"><p class="p-in-a">보도자료</p></a>
                        <a href=""  id="a-4"><p class="p-in-a">메이커 캘린더</p></a>
                        <a href=""  id="a-5"><p class="p-in-a">신뢰센터</p></a> -->
                    </div>
                </div>
            </div>
            <!-- menu 끝 -->
            <div id="middle">
                <div id="middle-inner">
                    <div id="table-wrapper">
                        <table id="main-table">
                            <thead>
                                <tr>
                                    <th class="th-th"></th>
                                    <th class="th-th"></th>
                                </tr>
                            </thead>
                            <tbody id="table-body">
                                <tr class="table-tr">
                                    <td class="cell-text-wrapper">
                                        <div class="text-wrapper">
                                            <div class="text-top">
                                                <div class="text-top-inner">
                                                    기타
                                                </div>
                                            </div>
                                            <div class="text-bottom">
                                                <div class="text-bottom-inner">음식 나눔을 하고 싶은데 어떻게 할 수 있을까요?</div>
                                            </div>
                                            <div class="text-bottom-bottom">
                                            	<div class="text-bottom-bottom-inner">
                                                   | 식품 > 기부하기 | 의 음식 나눔 서비스를 이용하시면 됩니다.
                                            	</div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="table-tr">
                                    <td class="cell-text-wrapper">
                                        <div class="text-wrapper">
                                            <div class="text-top">
                                                <div class="text-top-inner">
                                                    기타
                                                </div>
                                            </div>
                                            <div class="text-bottom">
                                                <div class="text-bottom-inner">나눔한 음식은 누구에게 전달 되나요?</div>
                                            </div>
                                            <div class="text-bottom-bottom">
                                            	<div class="text-bottom-bottom-inner">
                                                    이용자는 투명하고 공정한 방법으로 선정됩니다.
                                                    <br>
                                                    <br>
                                                    - 개인이용자 우선 지원
                                                    <br>
                                                    경제적으로 어려운 개인 이용자’를 우선적으로 지원하고, 기부식품 여유가 있는 경우 시설 및 단체를 지원합니다.
                                                    <br>
                                                    -개인이용자 우선순위
                                                    <br>
                                                    1. 긴급지원대상자
                                                    <br>
                                                    2. 차상위계층(생계･의료급여를 받지 않는 주거･교육급여 수급자를 포함한다)
                                                    <br>
                                                    3. 생계･의료급여 수급신청 탈락자, 생계･의료급여가 중지된 사람, 기타 기부식품등 제공이 긴급히 필요한 저소득 재가 대상자 중 형편이 어려운 사람
                                                    <br>
                                                    4.기초생활 수급자(생계․의료급여 수급자)
                                            	</div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="table-tr">
                                    <td class="cell-text-wrapper">
                                        <div class="text-wrapper">
                                            <div class="text-top">
                                                <div class="text-top-inner">
                                                    기타
                                                </div>
                                            </div>
                                            <div class="text-bottom">
                                                <div class="text-bottom-inner">나눔한 음식은 어떤 방식으로 전달 되나요?</div>
                                            </div>
                                            <div class="text-bottom-bottom">
                                            	<div class="text-bottom-bottom-inner">
                                                    나눔한 음식은 각종 조건에 맞는 기관들에 전달하여 각 기관의 방식에 따라 나눔합니다.
                                            	</div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="table-tr">
                                    <td class="cell-text-wrapper">
                                        <div class="text-wrapper">
                                            <div class="text-top">
                                                <div class="text-top-inner">
                                                    기타
                                                </div>
                                            </div>
                                            <div class="text-bottom">
                                                <div class="text-bottom-inner">어떤 음식을 나눔할 수 있나요?</div>
                                            </div>
                                            <div class="text-bottom-bottom">
                                            	<div class="text-bottom-bottom-inner">
                                                    기부금품의 모집 및 사용에 관한 법률 제2조 1호에 의해 “기부금품”이란 환영금품, 축하금품, 찬조금품등 명칭이 어떠하든 반대급부 없이 취득하는 금전이나 물품을 기부할 수 있습니다.
                                            	</div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="table-tr">
                                    <td class="cell-text-wrapper">
                                        <div class="text-wrapper">
                                            <div class="text-top">
                                                <div class="text-top-inner">
                                                    기타
                                                </div>
                                            </div>
                                            <div class="text-bottom">
                                                <div class="text-bottom-inner">나눔받은 식품은 무료로 제공하나요?</div>
                                            </div>
                                            <div class="text-bottom-bottom">
                                            	<div class="text-bottom-bottom-inner">
                                                    일부, 특별한 경우를 제외하고는 기본적으로 무료 제공합니다.
                                            	</div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="table-tr">
                                    <td class="cell-text-wrapper">
                                        <div class="text-wrapper">
                                            <div class="text-top">
                                                <div class="text-top-inner">
                                                    기타
                                                </div>
                                            </div>
                                            <div class="text-bottom">
                                                <div class="text-bottom-inner">식품을 나눔하면 세금혜택을 받을 수 있나요?</div>
                                            </div>
                                            <div class="text-bottom-bottom">
                                            	<div class="text-bottom-bottom-inner">
                                                    물론입니다.
                                                    <br>
                                                    <br>
                                                    현재 푸드뱅크와 푸드마켓에 식품을 기부하는 경우「법인세법시행령 제19조」및「소득세법시행령 제55조」에 의해
                                                    한국표준산업분류에 의한
                                                    <br>
                                                    음·식료품의 제조업·도매업·소매업을 영위하는 법인 및 개인은 기부식품의 장부가액 전액을 손비 또는 필요경비에 반영할 수 있어 세금혜택을 받을 수 있습니다.
                                                    <br>
                                                    기부자(기업,개인사업자)는 기부식품등 영수증을 발급받아 법인세(소득세) 산출시 전액 손비(필요경비)처리가 가능합니다. 단 영수증의 단가는 장부가액을 기준으로 전용됩니다.
                                            	</div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="table-tr">
                                    <td class="cell-text-wrapper">
                                        <div class="text-wrapper">
                                            <div class="text-top">
                                                <div class="text-top-inner">
                                                    기타
                                                </div>
                                            </div>
                                            <div class="text-bottom">
                                                <div class="text-bottom-inner">기부영수증 종류가 있나요?</div>
                                            </div>
                                            <div class="text-bottom-bottom">
                                            	<div class="text-bottom-bottom-inner">
                                                    네 있습니다. 
                                                    <br>
                                                    <br>
                                                    기부영수증은 기부식품등 영수증과 지정기부금 영수증이 있습니다.
                                                    <br>
                                                    지정기부금 : 법인세법시행령 제35조, 소득세법시행령 제79조1항에 의거하여 손비 또는 필요경비로 인정받을 수 있는 기부영수증이 발급됩니다.
                                                    <br>
                                                    기부식품등영수증: 기업 또는 개인이 식품 및 생활용품을 기부할 경우 법인세법 시행령 제19조, 소득세법 시행령 제55조에 의거하여 손비 또는 필요경비로 인정받을 수 있는 기부영수증이 발급됩니다.
                                            	</div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <!-- <tr class="table-tr">
                                    <td class="cell-text-wrapper">
                                        <div class="text-wrapper">
                                            <div class="text-top">
                                                <div class="text-top-inner">
                                                    기타
                                                </div>
                                            </div>
                                            <div class="text-bottom">
                                                <div class="text-bottom-inner">메이커를 위한 와디즈 카카오톡 채널이 있나요?</div>
                                            </div>
                                            <div class="text-bottom-bottom">
                                            	<div class="text-bottom-bottom-inner">
                                            		와디즈 for Business에서 메이커님을 위해 준비한 소식을 가장 먼저 받아 보세요.
                                            	</div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="table-tr">
                                    <td class="cell-text-wrapper">
                                        <div class="text-wrapper">
                                            <div class="text-top">
                                                <div class="text-top-inner">
                                                    기타
                                                </div>
                                            </div>
                                            <div class="text-bottom">
                                                <div class="text-bottom-inner">메이커를 위한 와디즈 카카오톡 채널이 있나요?</div>
                                            </div>
                                            <div class="text-bottom-bottom">
                                            	<div class="text-bottom-bottom-inner">
                                            		와디즈 for Business에서 메이커님을 위해 준비한 소식을 가장 먼저 받아 보세요.
                                            	</div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="table-tr">
                                    <td class="cell-text-wrapper">
                                        <div class="text-wrapper">
                                            <div class="text-top">
                                                <div class="text-top-inner">
                                                    기타
                                                </div>
                                            </div>
                                            <div class="text-bottom">
                                                <div class="text-bottom-inner">메이커를 위한 와디즈 카카오톡 채널이 있나요?</div>
                                            </div>
                                            <div class="text-bottom-bottom">
                                            	<div class="text-bottom-bottom-inner">
                                            		와디즈 for Business에서 메이커님을 위해 준비한 소식을 가장 먼저 받아 보세요.
                                            	</div>
                                            </div>
                                        </div>
                                    </td>
                                </tr> -->
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- middle 이너 끝 -->
                <!-- <div id="middle-bottom">
                    <div id="middle-bottom-inner">
                        <button id="left"><svg id="left-svg" width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg"><path id="left-path" d="M21 24L15 18L21 12" stroke="#868E96" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"></path></svg></button>
                        <span class="page-numbers"><button class="button-numbers">1</button>
                        <button id="right"><svg id="right-svg" width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg"><path id="right-path" d="M15 12L21 18L15 24" stroke="#868E96" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"></path></svg></button>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <!-- <jsp:include page="../components/footer.jsp"></jsp:include> -->
    <jsp:include page="${pageContext.request.contextPath}/dhouse/components/footer.jsp"></jsp:include>
</body>
</html>