<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/components/inquiry-header.css">
    <title>header</title>
</head>
    <!-- inquiry-header -->
    <header>
        <div class="header-container">
            <div class="header-logo">
                <a href="/templates/main/main.html">
                    <img src="https://theme.zdassets.com/theme_assets/13612819/88ab343ef7ade65dedd263a88f91b2e39f372a78.png" alt="">
                </a>
            </div>
            <div class="header-nav">
                <nav class="user-nav" id="user-nav">
                    <a class="submit-inquiry" href="/templates/helpcenter/inquiry-register.html">
                        문의 등록
                    </a>
                </nav>
                <a href="/templates/main/main.html" class="nav-trigger">
                    <span class="nav-trigger-text">홈 바로가기</span>
                    <!-- <span class="nav-trigger-icon"></span> -->
                    <!-- 선택되면 is-clicked 추가 -->
                    <!-- <span class="nav-trigger-icon is-clicked"></span> -->
                </a>
            </div>
        </div>
    </header>
</body>
</html>