@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;700&display=swap');
@font-face {
    font-family: Noto Sans KR;
    font-weight: 300;
    font-style: normal;
    src: url(https://static.wadiz.kr/assets/fonts/notosans/NotoSansKR-Light.woff2) format("woff2"),url(https://static.wadiz.kr/assets/fonts/notosans/NotoSansKR-Light.woff) format("woff"),url(https://static.wadiz.kr/assets/fonts/notosans/NotoSansKR-Light.otf) format("opentype");
    unicode-range: u+0020-u+007e,u+1100-u+11f9,u+3131-u+318e,u+327f-u+327f,u+ac00-u+d7a3,u+ff01-u+ff60
}

@font-face {
    font-family: Noto Sans KR;
    font-weight: 400;
    font-style: normal;
    src: url(https://static.wadiz.kr/assets/fonts/notosans/NotoSansKR-Regular.woff2) format("woff2"),url(https://static.wadiz.kr/assets/fonts/notosans/NotoSansKR-Regular.woff) format("woff"),url(https://static.wadiz.kr/assets/fonts/notosans/NotoSansKR-Regular.otf) format("opentype");
    unicode-range: u+0020-u+007e,u+1100-u+11f9,u+3131-u+318e,u+327f-u+327f,u+ac00-u+d7a3,u+ff01-u+ff60
}

@font-face {
    font-family: Noto Sans KR;
    font-weight: 500;
    font-style: normal;
    src: url(https://static.wadiz.kr/assets/fonts/notosans/NotoSansKR-Medium.woff2) format("woff2"),url(https://static.wadiz.kr/assets/fonts/notosans/NotoSansKR-Medium.woff) format("woff"),url(https://static.wadiz.kr/assets/fonts/notosans/NotoSansKR-Medium.otf) format("opentype");
    unicode-range: u+0020-u+007e,u+1100-u+11f9,u+3131-u+318e,u+327f-u+327f,u+ac00-u+d7a3,u+ff01-u+ff60
}

@font-face {
    font-family: Noto Sans KR;
    font-weight: 700;
    font-style: normal;
    src: url(https://static.wadiz.kr/assets/fonts/notosans/NotoSansKR-Bold.woff2) format("woff2"),url(https://static.wadiz.kr/assets/fonts/notosans/NotoSansKR-Bold.woff) format("woff"),url(https://static.wadiz.kr/assets/fonts/notosans/NotoSansKR-Bold.otf) format("opentype");
    unicode-range: u+0020-u+007e,u+1100-u+11f9,u+3131-u+318e,u+327f-u+327f,u+ac00-u+d7a3,u+ff01-u+ff60
}

@font-face {
    font-family: wadizicon;
    font-weight: 400;
    font-style: normal;
    src: url(https://static.wadiz.kr/static/web/media/wadizicon.1de1502a.eot#iefix) format("embedded-opentype"),url(https://static.wadiz.kr/static/web/media/wadizicon.f5cdf486.woff2) format("woff2"),url(https://static.wadiz.kr/static/web/media/wadizicon.9eb6b0a9.woff) format("woff"),url(https://static.wadiz.kr/static/web/media/wadizicon.e5379495.ttf) format("truetype"),url(https://static.wadiz.kr/static/web/media/wadizicon.077f5804.svg#wadizicon) format("svg")
}

:root{
    --main-color: #006633;
    --main-sub: #006633de;
    --main-sub2: #00663352;
    --main-sub3: #0066330d;
    --select-color: #006633b8;
    --no-select-color: #bee4d18c;
    --main-semi-color: #00663396;
    /* #10837694 */
    --banner1-color: rgb(64, 64, 204);
    --banner2-color: rgb(16, 62, 104);
    --banner3-color: rgb(95, 173, 5);
    
}

* {
    font-family: Noto Sans KR;
}
.menus-bar {
    margin: 80px auto 60px;
    max-width: 1280px;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: nowrap;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

/* 퀵 바 */
.quick-bar {
    position: relative;
    width: 610px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
}
/* 메뉴 바 타이틀 */
.menu-title {
    font-weight: 700;
    color: rgb(33, 37, 41);
    line-height: 34px;
    font-size: 24px;
    margin-bottom: 16px;
}
.quick-menu-list {
    width: 100%;
    min-width: 320px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background: rgb(242, 244, 246);
    border: 0px;
    border-radius: 8px;
    height: 168px;
    padding-bottom: 40px;
}
.quick-menu {
    min-width: 80px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

/* 가이드 바 */
.guide-bar {
    position: relative;
    width: 610px;
    min-width: 550px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 5px;
    margin-right: 5px;
}
.guide-menu-list {
    width: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    border: 0px;
    border-radius: 8px;
    display: flex;
}

/* 자주 묻는 질문 선택됐을 때 */
.guide-frequent-select, .guide-use-select, .guide-reserve-select {
    text-align: center;
    cursor: pointer;
    height: 168px;
    min-width: 104px;
    border: 0px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out 0s;
    overflow: hidden;
    width: 378px;
    transition-property: width, background-color;
    transition-duration: 0.3s, 0.3s;
    /* background-color: rgb(0, 196, 196); */
    background-color: var(--main-sub);
}

.guide-use-select, .guide-reserve-select {
    /* background-color: rgb(231, 249, 249); */
    background-color: var(--no-select-color);
}

.guide-use-select, .guide-reserve-select{
    width: 104px;
}


.guide-frequent-container, .guide-use-container, .guide-reserve-container {
    height: 100%;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border: 0px;
    border-radius: 8px;
    width: 378px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
}

.guide-use-container, .guide-reserve-container{
    display: none;
}


.frequent-title-bar, .use-title-bar, .reserve-title-bar {
    width: 100%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    border: 0px;
    border-radius: 8px;
    margin-bottom: 16px;
}
.frequent-title, .use-title, .reserve-title{
    max-height: 28px;
    overflow: hidden;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
}
.plus-menu {
    display: flex;
    border: 0px;
    border-radius: 8px;
    padding: 0px;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
    width: auto;
    max-height: 30px;
}
.menus-bar .plus {
    position: relative;
    top: 2.2px;
    margin-right: 8px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    
}

.context-container {
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border: 0px;
    border-radius: 8px;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.context-mark {
    min-width: 48px;
    height: 48px;
    margin-right: 15px;
    border: 0px;
    border-radius: 8px;
    /* background-color:  rgb(0, 178, 178); */
    /* background-color:  var(--main-sub3); */
    background-color:  var(--main-semi-color);
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.context-inner{
    height: 60px;
    width: 300px;
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    overflow: hidden;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
}


/* 알아보기 선택 안됐을 때 */
.guide-frequent, .guide-use, .guide-reserve {
    text-align: center;
    cursor: pointer;
    height: 168px;
    min-width: 104px;
    border: 0px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out 0s;
    overflow: hidden;
    width: 0%;
}
.container-noselect {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border: 0px;
    border-radius: 8px;
}
.title-bar-noselect{
    font-size: 18px;
    font-weight: 700;
    color: rgb(33, 37, 41);
    line-height: 28px;
}

/* 게시판 바 */
.boards-bar {
    margin: 0px auto 60px;
    max-width: 1280px;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: nowrap;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.board-bar{
    position: relative;
    min-width: 320px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
    width: 610px;
    margin-left: 5px;
    margin-right: 5px;
}
.board-title {
    font-weight: 700;
    color: rgb(33, 37, 41);
    line-height: 34px;
    font-size: 24px;
    margin-bottom: 5px;
}

.boards-bar .plus-menu {
    padding: 0px;
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
}
.boards-bar .plus{
    margin-right: 8px;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 400;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}


.board-title-bar {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 1px solid rgb(242, 242, 242);
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-bottom: 10px;
}

.board-li {
    position: relative;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 1px solid rgb(242, 242, 242);
    padding-top: 7px;
    padding-bottom: 7px;
}

.board-title {
    padding: 0px;
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    cursor: pointer;
    align-items: flex-start;
    top: 5px;
}

.board-title-context{
    font-weight: 400;
    color: rgb(33, 37, 41);
    cursor: pointer;
    margin-right: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    -webkit-box-align: start;
    font-size: 16px;
}

.board-register-date {
    font-weight: 400;
    color: rgb(144, 148, 156);
    line-height: 20px;
    margin-left: 20px;
    font-size: 16px;
}

.events-bar, .sell-bar{
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 60px;
    padding-left: 0px;
    padding-right: 0px;
}
.event-container, .sell-container{
    max-width: 1420px;
    width: 98%;
    position: relative;
    margin: 0px auto 20px;
}

.arrow-icon-left, .sell-prev{
    position: absolute;
    top: 40%;
    left: 5px;
    transform: translate(0px, -50%);
    z-index: 2;
    padding: 0px;
    border: 0px;
    border-radius: 50%;
    background: transparent;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    display: block;
}

.arrow-icon-right, .sell-next{
    position: absolute;
    top: 40%;
    right: 5px;
    transform: translate(0px, -50%);
    z-index: 2;
    padding: 0px;
    border: 0px;
    border-radius: 50%;
    background: transparent;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    display: block;
}

.event-banner, .sell-banner {
    position: relative;
    margin: 0px auto;
    max-width: 1280px;
    min-width: 1090px;
}
.event-title, .sell-title{
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    line-height: 24px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-bottom: 10px;
}

.event-title-container, .sell-title-conatainer {
    font-weight: 700;
    color: rgb(33, 37, 41);
    line-height: 34px;
    font-size: 24px;
    margin-bottom: 5px;
}
.events-bar .plus-menu{
    position: relative;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
}

.events-bar .plus-menu {
    margin-right: 8px;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 400;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.events-bar .plus {
    margin-right: 8px;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 400;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.event-swiper-container, .sell-swiper-container{
    touch-action: pan-y;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding: 0;
    position: relative;
    z-index: 1;
}

.swiper-wrapper {
    box-sizing: initial;
    display: flex;
    height: 100%;
    position: relative;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    width: 100%;
    z-index: 1;
    gap: 24px;
}

.event-swiper-box, .sell-swiper-box {
    width: 302px;
    /* margin-right: 24px; */
}
.event-swiper-box-container, .sell-swiper-image-container{
    position: relative;
    height: 311px;
}

.event-swiper-image, .sell-swiper-image {
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    border: 0px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out 0s;
    cursor: pointer;
    /*background-image: url(https://static.makercenter.wadiz.kr/board/image/d3662fba-7660-49d7-997a-fe20fb368be1.png);*/
    max-width: 305px;
    height: 160px;
}

.sell-swiper-image img {
    width: 305px;
    height: 150px;
}

.event-swiper-image:hover, .sell-swiper-image:hover {
    background-size: 120%;
}


.event-status, .sell-status {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 3px;
    color: rgb(73, 80, 87);
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
}

/* status(상태) css - 중요, 종료, 진행중 */
.important-status {
    display: inline-block;
    height: 18px;
    padding: 0px 4px;
    margin-right: 0px;
    border: 0px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: var(--main-sub);
    font-size: 10px;
    font-weight: 700;
}
.finish-status{
    display: inline-block;
    height: 18px;
    padding: 0px 4px;
    border: 0px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: rgb(134, 142, 150);
    font-size: 10px;
    font-weight: 700;
}
.progress-status {
    display: inline-block;
    height: 18px;
    padding: 0px 4px;
    border: 0px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: rgb(85, 124, 242);
    font-size: 10px;
    font-weight: 700;
}
.event-box-title-container, .sell-box-title-container {
    color: rgb(33, 37, 41);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 8px;
    width: 300px;
}
.event-box-context-container, .sell-box-context-container {
    color: rgb(144, 148, 156);
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 8px;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items: flex-start;
    cursor: pointer;
    width: 300px;
    height: auto;
    max-height: 35px;
}

.event-box-date-container, .sell-box-date-container {
    font-size: 14px;
    font-weight: 400;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    line-height: 16px;
    color: rgb(33, 37, 41);
}

/* 두번째 배너 css */
.event-banner-container{
    position: relative;
    overflow: hidden;
    margin: 0px auto;
    max-width: 1280px;
    min-width: 1090px;
}
.second-banner-container{
    position: relative;
    overflow: hidden;
}

div.second-banner {
    display: flex;
    gap: 24px;
    width: 10000px; /* 배너 5개라 * 7 */
    transition: transform 0.3s;
    cursor: pointer;
}

div.second-banner .second-banners {
    position: relative;
    width: 237px;
    height: 360px;
    float: left;
    transition: transform 0.4s ease-in-out;
    background-position: center;
}

.second-banner-image-wrapper{
    width: 237px;
    height: 360px;
    margin-bottom: 16px;
    overflow: hidden;
    border-radius: 10px;
    background-position: center;
}

.second-banner-image{
    width: 237px;
    height: 360px;
    background-size: cover;
    border-radius: 10px;
    transition: all 0.2s linear;
    background-position: center;
}



div.second-move-arrow {
    z-index: 1;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
}

div.second-move-arrow div {
    background-size: 7px auto;
    background-repeat: no-repeat;
    background-position: center;
}

div.second-prev {
    position: absolute;
    top: 70%;
    left: 5px;
    transform: translate(0, -50%);  
}

.second-prev-image{
    width: 50px;
    height: 50px;
}

div.second-next {
    position: absolute;
    top: 70%;
    right: 5px;
    transform: translate(0, -50%);  
}

.second-page-move-wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, -50%);
    text-align: center;
    height: 28px;
    padding: 6px 10px;
    color: rgb(204, 204, 204);
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.36px;
    font-weight: bold;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    box-sizing: border-box;
}

#second-page-now{
    color: rgb(255, 255, 255);
    margin-right: 2px;
}

#second-page-total{
    margin-right: 2px;
}

.second-banner-text-wrapper{
    height: 48px;
    margin-bottom: 10px;
    color: rgb(33, 37, 41);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    width: 295px;
}


.second-banner-text{
    color: rgb(33, 37, 41);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.recruit-box-context {
    width: 237px;
    height: 360px;
    position: absolute;
    left: 0px;
    padding: 45px 22px 0px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 0px 0px 10px 10px;
    bottom: -180px;
    transition: all 0.2s ease-in-out 0s;
    transform: translate(0px, 0px);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    border-radius: 10px;
}
.recruit-box-title {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 30px;
}
.recruit-box-writer {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 500;
    display: none;
}

/* 세번째 배너 css */
.third-banner-container{
    position: relative;
    overflow: hidden;
}

div.third-banner {
    display: flex;
    gap: 24px;
    width: 10000px; /* 배너 5개라 * 7 */
    transition: transform 0.3s;
    cursor: pointer;
}

div.third-banner .third-banners {
    width: 302px;
    height: 273px;
    float: left;
    transition: transform 0.4s ease-in-out;
    background-position: center;
}

.third-banner-image-wrapper{
    width: 302px;
    height: 160px;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 10px;
}

.third-banner-image{
    width: 302px;
    height: 160px;
    background-size: cover;
    border-radius: 10px;
    transition: all 0.2s linear;
}

.third-banner-image:hover{
    transform: scale(1.2);  
}

div.third-move-arrow {
    z-index: 1;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
}

div.third-move-arrow div {
    background-size: 7px auto;
    background-repeat: no-repeat;
    background-position: center;
}

div.third-prev {
    position: absolute;
    top: 40%;
    left: 5px;
    transform: translate(0, -50%);  
}

.third-prev-image{
    width: 50px;
    height: 50px;
}

div.third-next {
    position: absolute;
    top: 40%;
    right: 5px;
    transform: translate(0, -50%);  
}

.third-page-move-wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, -50%);
    text-align: center;
    height: 28px;
    padding: 6px 10px;
    color: rgb(204, 204, 204);
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.36px;
    font-weight: bold;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    box-sizing: border-box;
}

#third-page-now{
    color: rgb(255, 255, 255);
    margin-right: 2px;
}

#third-page-total{
    margin-right: 2px;
}

.third-banner-text-wrapper{
    height: 48px;
    margin-bottom: 10px;
    color: rgb(33, 37, 41);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    width: 295px;
}


.third-banner-text{
    color: rgb(33, 37, 41);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

/* 세번째 배너 끝 */

/* 신청 배너 */
section.container {
    position: relative;
    width: 1280px;
    margin: 0 auto 60px;
    overflow: hidden;
}

div.banner {
    width: 8960px;
    transition: transform 0.3s;
    /* transform: translate(-90vw); */
}

div.banner div {
    width: 1280px;
    height: 338px;
    float: left;
    background-size: 100%;
}


/* 신청배너 끝 */



/* banner 메인 배너 */
.banner_container {
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    transition: all 0.5s ease 0s;
    background: var(--banner1-color);
    height: 440px;
}

.banner_container .inner_section {
    position: relative;
    width: 100%;
    max-width: 1280px;
    overflow: hidden;
    margin: 0px auto;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.banner_introduce .introduce_header {
    width: 610px;
    font-size: 48px;
    font-weight: 700;
    line-height: 62px;
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
}

/*  */
.banner_introduce .search_form {
    position: relative;
    width: 610px;
    margin-bottom: 20px;
}

/* 배너 검색창 */
.banner_introduce .search_banner {
    width: 610px;
    height: 60px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    background-color: transparent;
    padding-left: 20px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 500;
    outline: none;
    padding-right: 50px;
}

/* 배너 검색 버튼 */
.banner_introduce .search_button {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(0px, -50%);
    z-index: 2;
    /* cursor: pointer; */
}

/* 배너 검색 결과 input */
.banner_introduce .search_result {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translate(0px, -50%);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 500;
    padding-left: 20px;
    display: block;
}

/* 배너 검색 typewriter */
.banner_introduce .typewriter_cursor {
    animation: Typewriter-cursor 1s infinite;
    margin-left: 1px;
}

.banner_introduce .search_tag_container {
    width: 100%;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
}

/* 배너 검색 태그 */
.banner_introduce .search_tag {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 6px 16px;
    margin: 0px 8px 16px 0px;
    border: 0px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.2);
}



.main_banner_container {
    position: relative;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    width: 100%;
}

.main_show_banner {
    width: 580px;
    height: 320px;
    border-radius: 8px;
}

.main_banner_swiper_container{
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding: 0;
    position: relative;
    z-index: 1;

    touch-action: pan-y;
}

.main_banner_all{
    box-sizing: initial;
    display: flex;
    height: 100%;
    position: relative;
    transition-property: transform,-webkit-transform;
    z-index: 1;

    width: 2900px;
    transition: transform 0.3s;
}

.main_banner_box {
    flex-shrink: 0;
    height: 100%;
    position: relative;
    transition-property: transform,-webkit-transform;
    width: 100%;
    width: 580px;
}

.main_banner_link {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

.main_banner {
    width: 100%;
    background-image: url('https://static.makercenter.wadiz.kr/banner/image/8d1dd0ac-9de1-4ecb-bf13-67f67f94fbd0.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: 320px;
    border-radius: 8px;
}

.main_banner_button_bar {
    position: absolute;
    right: 0px;
    bottom: 15px;
    z-index: 2;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    width: 570px;
}

.main_banner_button {
    display: flex;
    justify-content: space-around;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 10px;
}

.main_banner_left_button {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    border: 0px;
    width: 20px;
    height: 20px;
    border-radius: 50px;
}

.left_button_svg {
    user-select: none;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    width: 13px;
    height: 13px;
}

.main_banner_page {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 50px;
}

.current_page {
    margin-top: 2px;
    width: 15px;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 700;
}

.divide_page {
    margin-top: 2px;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 400;
    width: 10px;
}

.total_page {
    margin-top: 2px;
    width: 15px;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 400;
}

.main_banner_right_button {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    border: 0px;
    width: 20px;
    height: 20px;
    border-radius: 50px;
}

.right_button_svg {
    user-select: none;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    width: 13px;
    height: 13px;
}

.main_banner_bar_container {
    position: relative;
    width: 100%;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
}

.main_banner_bar {
    width: 100%;
    height: 3px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    border: 0px;
    box-sizing: border-box;
}

.main_banner_total_bar {
    width: 100%;
    height: 100%;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    border: 0px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.3);
}

.main_banner_current_bar {
    position: absolute;
    top: 0px;
    transition: all 0.2s ease-in-out 0s;
    height: 100%;
    background-color: rgb(255, 255, 255);
    width: 33.3333%;
    left: 0%;
}